    <div class="nav-item flleft">
        <img src="/images/new-school.jpg">
        </img>
    </div>
  
    <div class="nav-item flright">

	    <div class="ui right dropdown item">
	        More
	        <i class="dropdown icon">
	        </i>
	        <div class="menu">
	            <div class="item">
	                Applications
	            </div>
	            <div class="item">
	                International Students
	            </div>
	            <div class="item">
	                Scholarships
	            </div>
	        </div>
	    </div>
    </div>


