<ul>
    <li style="float: left">
        <a>
            OpenRouteService.org
        </a>
    </li>
    <li>
        <div class="ui simple dropdown item">
            <i class="fa fa-cog fa-lg">
            </i>
            <div class="menu">
                <div class="item" ng-click="$ctrl.showSettings = !$ctrl.showSettings">
                    <i class="fa fa-cog">
                    </i>
                    <span id="tl_settings">
                        Settings
                    </span>
                </div>
                <div class="item" ng-click="$ctrl.showFeedback = !$ctrl.showFeedback">
                    <i class="fa fa-pencil">
                    </i>
                    <span id="tl_feedback">
                        Feedback
                    </span>
                </div>
                <div class="item">
                    <i class="fa fa-code">
                    </i>
                    <span id="tl_documentation">
                        Documentation
                    </span>
                </div>
                <div class="item">
                    <i class="fa fa-google">
                    </i>
                    <span id="tl_googlegroups">
                        Google Groups
                    </span>
                </div>
            </div>
        </div>
    </li>
</ul>
<ors-modal data-ng-if="$ctrl.showSettings" show="$ctrl.showSettings">
    <div ng-include="'app/includes/settings.html'">
    </div>
</ors-modal>
<ors-modal data-ng-if="$ctrl.showFeedback" show="$ctrl.showFeedback">
    <div ng-include="'app/includes/feedback.html'">
    </div>
</ors-modal>
