<div class="container">
    <div class="options-box" ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'Bicycle' || $ctrl.activeMenu == 'Wheelchair' || $ctrl.activeMenu == 'HeavyVehicle' || $ctrl.activeMenu == 'Pedestrian'" >
	    <div ng-click="routeweightOptions = !routeweightOptions">
	        <i ng-class="$ctrl.getClass(routeweightOptions)"></i><span>Route weight</span>
	    </div>
	    <div class="collapsable" ng-class="{ showMe: routeweightOptions }">
	        <ul>
	        	<li>
			    	<div class="ui radio checkbox">
		                <input name="orsRouteWeightInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.weight" type="radio" ng-value="$ctrl.optionList.weight.fastest.name">
		                <label>Fastest</label>
		            </div>
		        </li>
		        <li>
		            <div class="ui radio checkbox">
		                <input name="orsRouteWeightInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.weight" type="radio" ng-value="$ctrl.optionList.weight.shortest.name">
		                <label>Shortest</label>
		            </div>
		        </li>
		        <li>
		            <div class="ui radio checkbox">
		                <input name="orsRouteWeightInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.weight" type="radio" ng-value="$ctrl.optionList.weight.recommended.name">
		                <label>Recommended</label>
		            </div>
		        </li>
            </ul>
	    </div>
	</div>
    <div class="options-box" ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'Bicycle' || $ctrl.activeMenu == 'Wheelchair' || $ctrl.activeMenu == 'HeavyVehicle' || $ctrl.activeMenu == 'Pedestrian'">
	    <div ng-click="avoidablesOptions = !avoidablesOptions">
	        <i ng-class="$ctrl.getClass(avoidablesOptions)"></i><span>Avoid road types</span>
	    </div>
	    <div class="collapsable" ng-class="{ showMe: avoidablesOptions }">
	       <ul>
	        	<li ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'Bicycle' || $ctrl.activeMenu == 'Wheelchair' || $ctrl.activeMenu == 'HeavyVehicle' || $ctrl.activeMenu == 'Pedestrian'">
			    	<div class="ui checkbox">
		                <input name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.ferry" type="checkbox">
		                <label>Ferries</label>
		            </div>
		        </li>
		        <li ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'Bicycle' || $ctrl.activeMenu == 'HeavyVehicle'">
			    	<div class="ui checkbox">
		                <input name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.unpaved" type="checkbox">
		                <label>Unpaved Roads</label>
		            </div>
		        </li>
		        <li ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'Bicycle' || $ctrl.activeMenu == 'HeavyVehicle'">
			    	<div class="ui checkbox">
		                <input name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.paved" type="checkbox">
		                <label>Paved Roads</label>
		            </div>
		        </li>
		        <li ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'Bicycle' || $ctrl.activeMenu == 'HeavyVehicle'">
			    	<div class="ui checkbox">
		                <input name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.fords" type="checkbox">
		                <label>Fords</label>
		            </div>
		        </li>
		        <li ng-show="$ctrl.activeMenu == 'Bicycle' || $ctrl.activeMenu == 'Pedestrian' || $ctrl.activeMenu == 'Wheelchair'">
			    	<div class="ui checkbox">
		                <input name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.steps" type="checkbox">
		                <label>Steps</label>
		            </div>
		        </li>
		        <li ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'HeavyVehicle'">
			    	<div class="ui checkbox">
		                <input name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.highways" type="checkbox">
		                <label>Highways</label>
		            </div>
		        </li>
		        <li ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'HeavyVehicle'">
			    	<div class="ui checkbox">
		                <input name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.tollroads" type="checkbox">
		                <label>Toll Roads</label>
		            </div>
		        </li>
		        <li ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'HeavyVehicle'">
			    	<div class="ui checkbox">
		                <input name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.tunnels" type="checkbox">
		                <label>Tunnels</label>
		            </div>
		        </li>
		        <li ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'HeavyVehicle'">
			    	<div class="ui checkbox">
		                <input name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.tracks" type="checkbox">
		                <label>Tracks</label>
		            </div>
		        </li>
		    </ul>
	    </div>
	</div>
	<div class="options-box" ng-show="$ctrl.activeMenu == 'Bicycle' || $ctrl.activeMenu == 'Pedestrian'">
	    <div ng-click="difficultyOptions = !difficultyOptions">
	        <i ng-class="$ctrl.getClass(difficultyOptions)"></i><span>Difficulty settings</span>
	    </div>
	    <div class="collapsable" ng-class="{ showMe: difficultyOptions }">
	        <h3>
	            This should collapse
	        </h3>
	    </div>
	</div>
	<div class="options-box" ng-show="$ctrl.activeMenu == 'HeavyVehicle'">
	    <div ng-click="hgvOptions = !hgvOptions">
	        <i ng-class="$ctrl.getClass(hgvOptions)"></i><span>HGV settings</span>
	    </div>
	    <div class="collapsable" ng-class="{ showMe: hgvOptions }">
	        <h3>
	            This should collapse
	        </h3>
	    </div>
	</div>
	<div class="options-box" ng-show="$ctrl.activeMenu == 'Car' || $ctrl.activeMenu == 'Bicycle' || $ctrl.activeMenu == 'Wheelchair' || $ctrl.activeMenu == 'HeavyVehicle' || $ctrl.activeMenu == 'Pedestrian'">
	    <div ng-click="maxspeedOptions = !maxspeedOptions">
	        <i ng-class="$ctrl.getClass(maxspeedOptions)"></i><span>Maximum speed</span>
	    </div>
	    <div class="collapsable" ng-class="{ showMe: maxspeedOptions }">
	        <h3>
	            This should collapse
	        </h3>
	    </div>
	</div>
	<div class="options-box" ng-show="$ctrl.activeMenu == 'Wheelchair'">
	    <div ng-click="wheelchairOptions = !wheelchairOptions">
	        <i ng-class="$ctrl.getClass(wheelchairOptions)"></i><span>Wheelchair settings</span>
	    </div>
	    <div class="collapsable" ng-class="{ showMe: wheelchairOptions }">
	        <h3>
	            This should collapse
	        </h3>
	    </div>
	</div>
</div>