<div class="ors-summary">
    <ul>
        <li data-ng-repeat="route in $ctrl.data.features" ng-class="{active: $index === $ctrl.currentRouteIndex}">
            <div ng-include="'includes/route-summary.html'" ng-mouseout="$ctrl.DeEmphRoute()" ng-mouseover="$ctrl.emphRoute($index)" ng-click="$ctrl.changeCurrentRoute($index)">
            </div>
            <div class="bottom-border">
            </div>
            <div class="options-box" ng-if="route.properties.extras && $index === $ctrl.currentRouteIndex">
                <div class="pointer margin-bottom-6" ng-click="showRouteExtras = !showRouteExtras" ng-init="showRouteExtras = true;">
                    <span>
                        <i ng-class="$ctrl.getClass(showRouteExtras)">
                        </i>
                    </span>
                    <span ng-bind-html="('EXTRAS' | translate)">
                    </span>
                    <span tooltip-side="top" tooltip-template="{{('LOCALE_EXTRAS_HELP' | translate)}}" tooltips="">
                        <i class="fa fa-fw fa-info-circle">
                        </i>
                    </span>
                </div>
                <div class="collapsable" ng-class="{ showMe: showRouteExtras }">
                    <ors-route-extras checkboxes="$ctrl.checkboxes" current-route="route" route-index="$index">
                    </ors-route-extras>
                </div>
            </div>
            <div class="bottom-border">
            </div>
            <div class="options-box" ng-if="route.properties.summary.ofs">
                <div class="margin-bottom-6" ng-click="showFuelInfo = !showFuelInfo" ng-init="showFuelInfo = true;">
                    <span>
                        <i ng-class="$ctrl.getClass(showFuelInfo)">
                        </i>
                    </span>
                    <span ng-bind-html="('FUEL_CONSUMPTION' | translate)">
                    </span>
                </div>
                <div style="color: grey; font-style: italic" ng-if="showFuelInfo" ng-bind-html="('_FOR' | translate) + ' ' + route.properties.summary.ofs.request_id + ':'"></div>
                <br>
                <div ng-repeat="(vehicleClass, info) in route.properties.summary.ofs['fuel_stats']" ng-if="showFuelInfo">
                    <div ng-if="$ctrl.classInQuery(route.properties.summary.ofs, vehicleClass) || (vehicleClass==='individual' && $first)">
                        <div ng-if="info['category_info']['calculation_errors'] !== 'No Errors'">
                            <div>Not enough data to calculate category {{$ctrl.carCategories[vehicleClass].en}}</div>
                        </div>
                        <div ng-if="info['category_info']['calculation_errors'] === 'No Errors'">
                            <div ng-if="heading !== 'route'" ng-repeat="(heading, content) in info">
                                <table class="ui celled teal compact small table">
                                    <thead>
                                        <tr>
                                            <th ng-bind-html="heading.split('_').join(' ') | capitalize"></th><th></th>
                                        </tr>
                                    </thead>
                                    <tbody align="right">
                                    <tr ng-repeat="(key,value) in content">
                                        <td class="entry" ng-bind-html="key.split('_').join(' ').replace('per','/')"></td>
                                        <td class="entry">{{value}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="route.properties.summary.ofs['attributions'] && showFuelInfo" style="color: grey; font-style: italic">
                    <div >Attributions:</div>
                    <div ng-repeat="source in route.properties.summary.ofs['attributions']">{{source}}</div>
                </div>
            </div>
            <div class="bottom-border">
            </div>
        </li>
    </ul>
</div>
<ors-modal data-ng-if="$ctrl.showExport" show="$ctrl.showExport">
    <ors-export-route-controls>
    </ors-export-route-controls>
</ors-modal>
<ors-modal data-ng-if="$ctrl.showShare" show="$ctrl.showShare">
    <ors-share>
    </ors-share>
</ors-modal>
