<div class="ors-summary">
    <ul>
        <li data-ng-repeat="route in $ctrl.data.routes">
            <div ng-include="'includes/route-summary.html'" ng-mouseout="$ctrl.DeEmphRoute()" ng-mouseover="$ctrl.EmphRoute($index)">
            </div>
            <ors-route-extras ng-if="route.extras" current-route="route" route-index="$index">
            </ors-route-extras>
            <div class="bottom-border">
            </div>
        </li>
    </ul>
</div>
<ors-modal data-ng-show="$ctrl.showExport" show="$ctrl.showExport">
    <ors-export-route-controls>
    </ors-export-route-controls>
</ors-modal>
<ors-modal data-ng-if="$ctrl.showShare" show="$ctrl.showShare">
    <ors-share>
    </ors-share>
</ors-modal>
