html, body {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 90%;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    color: #444;
    margin: 0;
    padding: 0;
    background-color: gray !important;
}

.ors-header {
    display: flex;
    flex: 0 0 50px;
    border: 3px solid #b5152b;
}

.ors-main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    background-color: yellow;
}

.ors-sidebar {
    order: 1;
    color: #707070;
    background-color: purple;
    display: flex;
    flex: 0 1 388px;
    flex-direction: row;
}

.ors-navigation {
    border: 3px solid green;
    overflow: auto;
    display: flex;
    flex: 0 1 44px;
}

.ors-panel {
    border: 3px solid blue;
    overflow: auto;
    display: flex;
    flex: 0 1 344px;
}

.ors-footer {
    
}

.ors-map {
    flex: 1 1 auto;
    order: 2;
    border: 3px solid pink;
}

.ors-control-button {
    padding: 5px !important;
}

@media screen and (min-width: 319px) and (max-width: 720px) {
    .ors-main {
        flex-direction: column;
    }
    .ors-sidebar {
        order: 2;
        flex-basis: 50vh;
        flex: 1 1 auto;
    }
    .ors-panel {
        flex: 1 1 auto;
    }
    .ors-map {
        order: 1;
    }
}