/*@import 'https://fonts.googleapis.com/css?family=Open+Sans';*/
html, body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 90%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #444;
    margin: 0;
    padding: 0;
    -background-color: gray !important;
}

.ors-header {
    display: flex;
    flex: 0 0 50px;
    -border: 3px solid #b5152b;
}

.ors-main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    -background-color: yellow;
}

.ors-sidebar {
    order: 1;
    color: #707070;
    -background-color: purple;
    display: flex;
    flex: 0 1 388px;
    flex-direction: row;
}

.ors-navigation {
    border-right: 1px solid #CCC;
    -display: flex;
    flex: 0 1 44px;
    border-top: 1px solid #CCC;
    background-color: #F0F0F0;
}

.ors-navigation ul {
    padding: 0;
    margin: 0;
}

.ors-panel {
    -border: 3px solid blue;
    overflow: auto;
    display: flex;
    flex: 0 1 344px;
}

.ors-routing-navigation {
    position: absolute;
    height: 39px;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    width: 344px;
    z-index: 1;
    background-color: #F0F0F0;
}

.ors-routing-inner, .ors-instructions {
    position: relative;
    height: auto;
}

.ors-routing-info {
    position: absolute;
    top: 37px;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 344px;
}

.ors-routing-options {
    height: 100%;
    width: 344px;
}

.ors-routing-options .container {
    background-color: #F0F0F0;
    padding: 10px;
}

.ors-routing-options .options-box {
    padding-bottom: 15px;
    cursor: pointer;
}

.ors-routing-options .options-box span {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}

.ors-routing-options .options-box i {
    color: #444;
}

.ors-routing-options .container .collapsable {
    display: inline-block;
    overflow: hidden;
    height: 0;
}

.ors-routing-options .container .collapsable.showMe {
    height: auto;
    overflow: visible;
}

.ors-route-controls {
    width: 344px;
    height: 37px;
    background-color: #b5152b;
}

.ors-label {
    min-width: 1em !important;
    min-height: 1em !important;
}

.ors-footer {}

.ors-map {
    flex: 1 1 auto;
    order: 2;
    -border: 3px solid pink;
}

.ors-control-button {
    padding: 0 !important;
    border: none;
    box-shadow: none !important;
}

.ors-routing-grid {
    margin: 2rem 0 0 0 !important;
    padding: 10px !important;
    background: pink;
    width: 324px;
}

.ors-input {
    height: 35px;
}

.ors-input input {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 90%;
}

.ors-profile-options {
    position: absolute;
    width: 100%;
    background-color: yellow;
    z-index:
}

.ors-input-label {
    background: none #FFFFFF;
    border-left: none !important;
    border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
    border-right: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.ors-wp-list {
    clear: both;
    list-style: none outside none;
    margin: 20px 0 20px 0;
    padding: 0 10px 0 10px;
    /*margin: 12px 0 0 0;*/
}

.ors-wp-item {
    width: 320px;
    padding: 2px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: move;
    border-radius: 3px;
}

.ors-container {
    padding: 0 10px 0 10px;
}

.ors-segment {
    padding: 0 !important;
    margin: 0 !important;
}

.ors-wp-divider {
    margin: 0.6rem !important;
}

.ors-button {
    width: 40px;
    height: 37px;
    background-color: #F0F0F0;
    border: none;
    color: #444;
}

.ors-button:hover {
    color: #b5152b;
}

.ors-controls-button {
    width: 40px;
    height: 37px;
    background-color: #b5152b;
    border: none;
    color: #FFF;
}

.ors-controls-button:hover {
    background: rgba(0, 0, 0, .15);
}

/* options menus */
.ors-options-menu {
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}

.ors-options-menu-small {
    width: 150px;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}

.ors-options-menu>li {
    margin-bottom: 5px;
}

.ors-options-input {
    height: 35px;
}

.ors-options-input input{
    width: 150px;
}

.ng-invalid-max, .ng-invalid-min {
    background-color: #ffeaea !important;
}

/* ors profiles nav */

.ors-nav-submenu {
    display: none;
    position: absolute;
    border-radius: 2px;
    border: 1px solid #CCC;
    background-color: #F0F0F0;
    padding: 10px;
}

.ors-nav-menu>li>span:hover>.ors-nav-submenu {
    display: block;
}

.ors-nav-menu>li {
    float: left;
    padding-left: 8px;
}

.ors-nav-menu>li, .ors-nav-submenu>li, .ors-navigation li, li {
    list-style: none !important;
}

.ors-nav-submenu>li {
    padding-top: 3px;
}

.ors-nav-submenu>li label {
    font-size: 80% !important;
}

.ors-nav-menu {
    margin: 0;
    padding: 0;
}

.ors-navigation .active, .ors-nav-menu .active {
    color: #b5152b;
}

.ui-sortable-disabled .ors-wp-item {
    cursor: default;
}

div.ors-wp-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}

div.ors-wp-tr {
    display: table-row;
}

div.ors-wp-td {
    display: table-cell;
    color: rgba(0, 0, 0, 0.4);
}

.flright {
    float: right !important;
}

.flleft {
    float: left;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

@media screen and (min-width: 319px) and (max-width: 720px) {
    .ors-main {
        flex-direction: column;
    }
    .ors-sidebar {
        order: 2;
        flex-basis: 50vh;
        flex: 1 1 auto;
    }
    .ors-panel {
        flex: 1 1 auto;
    }
    .ors-map {
        order: 1;
    }
}














