/*+-------------+----------------------------------------------------------*
 *|        /\   |     University of Heidelberg                             *
 *|       |  |  |     Department of Geography                              *
 *|      _|  |_ |     GIScience Research Group                             *
 *|    _/      \|                                                          *
 *|___|         |                                                          *
 *|             |     Berliner Straße 48                                   *
 *|             |     D-69221 Heidelberg, Germany                          *
 *+-------------+----------------------------------------------------------*/

html, body {
    font-size: 90% !important;
    display: flex;
    height: 100%;
    flex-direction: column;
    color: #444;
    margin: 0;
    padding: 0;
}

html {
    -font-size: 90% !important;
}


/**
 * Flex layout
 */

.ors-main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.ors-left {
    order: 1;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    flex: 0 1 388px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ors-right {
    flex: 1 1 auto;
    order: 2;
    z-index: 0;
}


/** Responsive flex styles */

@media screen and (min-width: 319px) and (max-width: 720px) {
    .ors-main {
        flex-direction: column;
    }
    .ors-left {
        order: 2;
        flex: 1 1 50vh;
    }
    .ors-sidebar {
        flex: 1 1 auto;
    }
    .ors-panel {
        flex: 1 1 auto;
    }
    .ors-right {
        order: 1;
        height: 50vh;
    }
}


/** Header */

.ors-header {
    display: flex;
    flex: 0 0 40px;
    z-index: 2;
}

.ors-header ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #cf5f5f;
}

.ors-header li {
    float: right;
}

.ors-header li a {
    display: block;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.ors-header li div {
    color: rgba(255, 255, 255, 0.75);
    text-align: left;
    padding: 13px 16px;
}

.ors-header li div:hover, .ors-header li a:hover {
    color: #FFF;
}

.ui.dropdown .menu {
    left: auto;
    right: 10px;
    margin-top: -7px;
}


/** Sidebar which contains navigation and routing */

.ors-sidebar {
    flex: 1 1 388px;
    min-height: 0;
    /* needed for FF */
    -webkit-box-flex: 1 1 388px;
    -webkit-flex: 1 1 388px;
    -ms-flex: 1 1 388px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


/** Navigation for analysis or routing */

.ors-navigation {
    border-right: 1px solid #CCC;
    background-color: #F0F0F0;
    flex: 0 0 44px;
    -overflow-y: auto;
}


/** Outlet which is either analysis or routing */

.ors-outlet {
    display: flex;
}


/** Inside outlet */

ors-route, ors-analysis {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 344px;
    -overflow-x: hidden; // otherwise y-scrollbar will cause x-scrollbar 
}


/** The following elements are within outlet */

.ors-profiles-options {
    border-bottom: 1px solid #CCC;
    width: 344px;
    flex: 0 1 39px;
    z-index: 1;
}

.ors-routing-inner {
    flex: 1 1 auto;
    overflow-y: auto;
}

.ors-route-controls, .ors-instruction-controls {
    height: 39px;
    border-top: 1px solid #F0F0F0;
}

.ors-summary {
    width: 344px;
}

.ors-summary ul, .ors-navigation ul {
    padding: 0;
    margin: 0;
}

.ors-route-card, .ors-segment-card {
    position: relative;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.ors-route-card .left {
    color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    flex: 0 0 15%;
}

.ors-route-card .right {
    color: rgba(0, 0, 0, 0.7);
    flex: 1 1 85%;
    padding: 1rem;
}

.ors-segment-card .steps {
    margin-right: 20px;
}

.ors-segment-card .info, .ors-segment-card .step {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    width: 100%;
    margin-right: 20px;
}

.ors-segment-card .info.highlight, .ors-segment-card .step.highlight {
    border-left: 2px solid #cf5f5f;
    border-right: 2px solid transparent;
}

.ors-segment-card .heading, .ors-segment-card .summary, .ors-segment-card .steps {
    color: rgba(0, 0, 0, 0.7);
    flex: 0 1 100%;
    display: flex;
}

.ors-segment-card .heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.ors-segment-card .summary {
    padding-bottom: 1rem;
    border-bottom: .1rem solid #edf3f5;
    padding-left: 4.5rem;
}

.ors-segment-card .info .heading .icon {
    flex: 0 1 auto;
    width: 1.5rem;
}

.ors-segment-card .heading .waypoint {
    flex: 0 1 80%;
    padding-left: 1rem;
}

.ors-segment-card .step {
    width: 100%;
    padding-top: 1rem;
}

.ors-segment-card .step .header {
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
}

.ors-segment-card .step .header .icon {
    flex: 0 0 auto;
    width: 2rem;
}

.ors-segment-card .step .header .text {
    flex: 1 1 100%;
    word-break: break-word;
    word-wrap: break-word;
}

.ors-segment-card .step .summary {
    flex-direction: row;
    padding-top: 1rem;
}

.ors-segment-card .pipe {
    color: #d4dce3;
    display: inline-block;
    padding: 0 .5rem;
}

h3, h4, h5 {
    padding: 0;
    margin: 0;
}

.summary-item {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 12px;
}

button.summary-select {
    background: none !important;
    border: none;
    padding-bottom: 5px !important;
    font-weight: bold;
    color: #cd6060;
    display: block;
    outline: none !important;
}

.top-border {
    border-top: 1px solid #edf3f5;
}

.bottom-border {
    height: 1px;
    border-bottom: .1rem solid #edf3f5;
    margin: auto;
}

.short {
    width: 85%;
}

ors-instructions {
    display: flex;
    min-height: 0;
    /* needed for FF */
    flex-direction: column;
}

.ors-instructions-summary, .ors-analysis-settings {
    flex: 0 0 auto;
    width: 344px;
}

.ors-bars {
    padding: 0px 15px 15px 15px;
    cursor: default;
}


/** Isochrone queries */

.ors-aa-query {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.ors-aa-query .segment {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: space-between;
    padding-bottom: 10px;
}

.ors-aa-query .segment .summary {
    flex: 0 1 auto;
}

.ors-aa-query .segment .controls {
    flex: 0 1 auto;
}

.ors-aa-query .segment .controls span {
    float: right;
    width: 20px;
    text-align: center;
}

.ors-aa-query .segment .icon {
    flex: 0 1 15%;
}

.ors-aa-query .segment .waypoint {
    flex: 1 1 50%;
    padding-left: 10px;
}

.ors-aa-query .segment.highlight {
    color: rgb(0, 0, 0);
    background-color: #FAFAFA;
}

.textLabelclass-isochrones {
    white-space: nowrap;
    text-shadow: 0 0 0.1em #444, 0 0 0.1em #444, 0 0 0.1em #444, 0 0 0.1em #444, 0 0 0.1em;
    font-weight: 500;
    pointer-events: none !important;
    color: #FFF;
    font-size: 24px;
    margin-left: -8px !important;
    margin-top: -38px !important;
}

.textLabelclass {
    white-space: nowrap;
    font-weight: 500;
    pointer-events: none !important;
    color: #FFF;
    font-size: 14px;
    margin-left: -8px !important;
    margin-top: -38px !important;
    background-color: orange;
    text-align: center;
    border-radius: 5px;
}

.textLabelclass-onedigit {
    white-space: nowrap;
    font-weight: 500;
    pointer-events: none !important;
    color: #FFF;
    font-size: 14px;
    margin-left: -8px !important;
    margin-top: -38px !important;
    background-color: orange;
    text-align: center;
    border-radius: 5px;
}


/** Route options */

.ors-routing-options .container, .ors-routing-inner .container, .ors-aa-query, .container {
    background-color: rgb(250, 250, 250);
    padding-top: 10px;
}

.options-box {
    padding-bottom: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.options-box span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options-box i {
    color: #444;
}

.collapsable {
    -display: inline-block;
    overflow: hidden;
    height: 0;
}

.collapsable.showMe {
    height: auto;
    overflow: visible;
    width: 100%;
}


/** Modals appear when settings are clicked */

.fade.ng-hide {
    opacity: 0;
}

.fade.ng-hide-remove, .fade.ng-hide-add {
    display: block !important;
}

.fade.ng-hide-remove {
    transition: all ease 0.1s;
}

.fade.ng-hide-add {
    transition: all ease 0.1s;
}

.ors-modal-container {
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.ors-modal-container .ors-dialog .close {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
    outline: none;
    width: 50px;
    background: rgba(255, 255, 255, 1);
}

.ors-modal-container .ors-dialog {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #fefefe;
    margin: 100px auto;
    /* 15% from the top and centered */
    padding: 50px;
    border: 1px solid #888;
    width: 650px;
    /* Could be more or less, depending on screen size */
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: auto;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.ors-modal-container .ors-dialog>* {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.ors-modal-container .ors-dialog header {
    margin-top: 50px;
    padding-bottom: 10px;
}

.ors-modal-container .ors-dialog>section {
    margin: 15px auto;
    padding: 1rem;
}

.ors-inline {
    display: inline;
    padding-left: 15px;
}


/* Options menus */

.ors-options-menu {
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}

.ors-options-menu li {
    padding-bottom: 5px;
}

.restrict-height-200 {
    max-height: 200px;
    overflow: auto;
}

.small {
    width: 150px;
    display: block;
}

.ors-options-input {
    height: 35px;
}

.ors-options-input input {
    width: 150px;
}


/** Waypoint list */

.ors-wp-list {
    clear: both;
    list-style: none outside none;
    margin: 20px 0 20px 0;
    padding-left: 10px;
}

.ors-wp-item {
    width: 320px;
    padding: 2px;
    cursor: move;
}

.ui-sortable-disabled .ors-wp-item {
    cursor: default;
}

div.ors-wp-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}

div.ors-wp-tr {
    display: table-row;
}

div.ors-wp-td {
    display: table-cell;
    color: rgba(0, 0, 0, 0.4);
    vertical-align: middle;
}

input:focus, input:active {
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
    border-right: none !important;
}

.ors-input-label {
    border-left: none !important;
    padding: 10px 8px 0 0 !important;
}

.ors-input-label button {
    visibility: hidden !important;
}

.ors-input-label button.show {
    visibility: visible !important;
}


/* Error messages */

.ors-error {
    bottom: 10px;
    width: 320px;
    left: 55px;
    position: absolute;
    z-index: 999;
}


/* Extras graphs */

.ors-types {
    width: 100%;
}

.ors-types .list {
    min-height: 25px;
    padding-bottom: 5px;
}

.ors-types .list ul {
    margin-left: -20px;
}

.ors-types .list li {
    float: left;
    font-size: 90%;
    margin-right: 20px;
}

.ors-types .list li span {
    color: #707070;
    font-size: 90%;
    position: relative;
    margin-left: -5px;
}


/* Profiles navigation menus + submenus */

.ors-nav-submenu {
    display: none;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 10px;
    margin-top: -3px;
}

.ors-nav-menu>li>span:hover>.ors-nav-submenu {
    display: block;
}

.ors-nav-menu>li {
    float: left;
    padding-left: 8px;
    cursor: pointer;
}

.ors-nav-menu>li, .ors-nav-submenu>li, .ors-navigation li, li {
    list-style: none !important;
}

.ors-nav-submenu>li {
    padding-top: 3px;
}

.ors-nav-menu {
    margin: 0;
    padding: 0;
}

.ors-nav-menu>li span {
    cursor: pointer;
}

.ors-navigation .active, .ors-nav-menu .active {
    color: rgba(219, 40, 40, 0.62);
}


/** General styles */

.ors-control-button {
    padding: 0 !important;
    border: none;
    box-shadow: none !important;
}

.ors-addresses {
    padding: 15px 0 15px 0;
    font-weight: normal;
}

.ors-button {
    width: 40px;
    height: 37px;
    background-color: transparent;
    border: none;
    color: #444;
    outline: none;
}

.ors-button:hover {
    color: #cd6060;
}

.ors-controls-button {
    width: 40px;
    height: 37px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: #FFF;
    outline: none;
}

.ors-controls-button i:hover, span i:hover {
    color: #cd6060;
}

.flright {
    float: right !important;
}

.flleft {
    float: left;
}

.textright {
    text-align: right;
}

.textleft {
    text-align: left;
}

.textcenter {
    text-align: center;
}

.cm-popup-option {
    cursor: pointer;
}

a.leaflet-control-layers-toggle {
    width: 30px !important;
    height: 30px !important;
    position: relative;
    text-align: center;
    line-height: 24px;
    background-image: none !important;
    color: #70707D;
}

a.leaflet-control-layers-toggle:before {
    content: "\f039";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 14px;
    line-height: 12px;
    color: #444;
    vertical-align: bottom;
    cursor: pointer;
    width: 14px;
    height: 14px;
    text-align: center;
}

.block {
    display: block !important;
}

.pointer {
    cursor: pointer;
}

.margin-bottom-3 {
    margin-bottom: 3px !important;
}

.margin-bottom-6 {
    margin-bottom: 6px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

tooltip tip {
    min-width: 70px !important;
    padding: 5px 8px !important;
    border-radius: 4px !important;
}


/** markers */

.ors-marker-start, .ors-marker-via, .ors-marker-end, .ors-marker-location, .ors-marker-start-highlight, .ors-marker-via-highlight, .ors-marker-end-highlight {
    text-align: center;
    line-height: 100%;
}

.ors-marker-start i, .ors-marker-via i, .ors-marker-end i, .ors-marker-location i {
    width: 100%;
    height: 100%;
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF;
}

.ors-marker-start-highlight i, .ors-marker-via-highlight i, .ors-marker-end-highlight i {
    width: 100%;
    height: 100%;
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.ors-marker-start i, .ors-marker-start-highlight i {
    -webkit-text-fill-color: green;
}

.ors-marker-via i, .ors-marker-via-highlight i {
    -webkit-text-fill-color: orange;
}

.ors-marker-end i, .ors-marker-end-highlight i {
    -webkit-text-fill-color: red;
}

.ors-marker-location i {
    -webkit-text-fill-color: blue;
}


/** this is needed for position of tooltip on body */

.ors-controls-button tooltip, span tooltip {
    box-sizing: initial !important;
}


/** font awesome rotate icons */

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.fa-rotate-225 {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

#loading-bar .bar {
    background: #b5152b;
    height: 3px;
}


/** d3 tips */

.d3-tip {
    line-height: 1;
    padding: 8px;
    -max-width: 100px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
    pointer-events: none;
    overflow: visible;
    z-index: 9999;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}


/* Northward tooltips */

.d3-tip.n:after {
    content: "\25BC";
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}


/* Eastward tooltips */

.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}


/* Southward tooltips */

.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}


/* Westward tooltips */

.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}


/* Semantic ui overrides */

.ui.checkbox, .item {
    font-size: 100% !important;
}

label, .label {
    cursor: pointer !important;
}