<div class="options-box" ng-if="$ctrl.routing">
    <div class="pointer" ng-click="routeweightOptions = !routeweightOptions">
        <i ng-class="$ctrl.getClass(routeweightOptions)">
        </i>
        <span ng-bind-html="('PREFERENCE' | translate)">
        </span>
    </div>
    <div class="collapsable" ng-class="{ showMe: routeweightOptions }">
        <div class="ors-options-menu">
            <div class="ui label tiny flleft">
                <span ng-bind-html="('WEIGHT' | translate)">
                </span>
                <div class="detail" ng-bind-html="($ctrl.weightSlider.value | translate)">
                </div>
            </div>
            <rzslider rz-slider-model="$ctrl.weightSlider.value" rz-slider-options="$ctrl.weightSlider.options">
            </rzslider>
        </div>
    </div>
    <div class="ors-options-menu" ng-show="$ctrl.activeSubgroup == 'Car' || $ctrl.activeSubgroup == 'HeavyVehicle'">
        <div class="ui checkbox">
            <input id="maximum_speed" name="orsRouteMaximumspeedInput" ng-change="$ctrl.toggleMaximumSpeedSlider()" ng-model="$ctrl.maxspeedCheckbox" type="checkbox">
            <label for="maximum_speed" ng-bind-html="('MAXIMUMSPEED' | translate)">
            </label>
            </input>
        </div>
        <rzslider rz-slider-model="$ctrl.maximumSpeedSlider.value" rz-slider-options="$ctrl.maximumSpeedSlider.options">
        </rzslider>
    </div>
</div>
<div class="options-box" ng-if="$ctrl.routing">
    <div class="pointer" ng-click="$ctrl.roundTripOptions = !$ctrl.roundTripOptions">
        <i ng-class="$ctrl.getClass($ctrl.roundTripOptions)">
        </i>
        <span ng-bind-html="('ROUNDTRIP' | translate)">
        </span>
    </div>
    <div class="collapsable" ng-class="{ showMe: $ctrl.roundTripOptions }">
        <div class="ui checkbox ors-options-checkbox">
            <input id="roundTrip" name="orsRoundTrip" ng-change="$ctrl.toggleRoundTrip($ctrl.roundTrip)" ng-model="$ctrl.roundTrip" type="checkbox">
            <label for="roundTrip" ng-bind-html="('ROUNDTRIP_DO' | translate)">
            </label>
            </input>
        </div>
        <ul class="ors-options-menu" ng-if="$ctrl.roundTrip">
            <li>
                <div class="ui label tiny flleft">
                    <span ng-bind-html="('ROUNDTRIP_LENGTH' | translate)">
                    </span>
                </div>
                <rzslider rz-slider-model="$ctrl.roundTripLengthSlider.value" rz-slider-options="$ctrl.roundTripLengthSlider.options">
                </rzslider>
            </li>
            <li>
                <div class="ui label tiny flleft">
                    <span ng-bind-html="('ROUNDTRIP_ROUNDNESS' | translate)">
                    </span>
                </div>
                <rzslider rz-slider-model="$ctrl.roundTripPointsSlider.value" rz-slider-options="$ctrl.roundTripPointsSlider.options">
                </rzslider>
            </li>
            <li>
                <span>
                    <button ng-click="$ctrl.moveSeed(1)"
                            class="tiny teal ui button">
                        <i class="fa fa-circle-o-notch">
                        </i>
                        <span ng-bind-html="  ('ROUNDTRIP_RANDOMIZE' | translate)" class="ng-binding"></span>
                    </button>
                </span>
                <span ng-if="$ctrl.roundTripSeed.value !== $ctrl.roundTripSeed.min"
                      tooltip-side="top"
                      tooltip-template="{{('ROUNDTRIP_PREVIOUS' | translate)}}"
                      tooltips="">
                    <button class="ors-controls-button"
                            ng-click="$ctrl.moveSeed(-1)">
                        <i class="fa fa-chevron-left">
                        </i>
                    </button>
                </span>
                <span ng-if="$ctrl.roundTripSeed.value !== $ctrl.roundTripSeed.max"
                      tooltip-side="top"
                      tooltip-template="{{('ROUNDTRIP_NEXT' | translate)}}"
                      tooltips="">
                    <button class="ors-controls-button"
                            ng-click="$ctrl.moveSeed(1)">
                        <i class="fa fa-chevron-right">
                        </i>
                    </button>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="options-box" ng-show="$ctrl.activeSubgroup == 'Car' || $ctrl.activeSubgroup == 'Bicycle' || $ctrl.activeSubgroup == 'Wheelchair' || $ctrl.activeSubgroup == 'HeavyVehicle' || $ctrl.activeSubgroup == 'Pedestrian'">
    <div class="pointer" ng-click="avoidablesOptions = !avoidablesOptions">
        <i ng-class="$ctrl.getClass(avoidablesOptions)">
        </i>
        <span ng-bind-html="('AVOIDTYPES' | translate)">
        </span>
    </div>
    <div class="collapsable" ng-class="{ showMe: avoidablesOptions }">
        <ul class="ors-options-menu">
            <li ng-show="$ctrl.activeSubgroup == 'Car' || $ctrl.activeSubgroup == 'Bicycle' || $ctrl.activeSubgroup == 'Wheelchair' || $ctrl.activeSubgroup == 'HeavyVehicle' || $ctrl.activeSubgroup == 'Pedestrian'">
                <div class="ui checkbox">
                    <input id="ferries" name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.ferry" type="checkbox">
                        <label for="ferries" ng-bind-html="('FERRIES' | translate)">
                        </label>
                    </input>
                </div>
            </li>

            <li ng-show="$ctrl.activeSubgroup == 'Car' || $ctrl.activeSubgroup == 'Pedestrian' || $ctrl.activeSubgroup == 'Bicycle' || $ctrl.activeSubgroup == 'HeavyVehicle'">
                <div class="ui checkbox">
                    <input id="fords" name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.fords" type="checkbox">
                        <label for="fords" ng-bind-html="('FORDS' | translate)">
                        </label>
                    </input>
                </div>
            </li>
            <li ng-show="$ctrl.activeSubgroup == 'Bicycle' || $ctrl.activeSubgroup == 'Pedestrian' || $ctrl.activeSubgroup == 'Wheelchair'">
                <div class="ui checkbox">
                    <input id="steps" name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.steps" type="checkbox">
                        <label for="steps" ng-bind-html="('STEPS' | translate)">
                        </label>
                    </input>
                </div>
            </li>
            <li ng-show="$ctrl.activeSubgroup == 'Car' || $ctrl.activeSubgroup == 'HeavyVehicle'">
                <div class="ui checkbox">
                    <input id="highways" name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.highways" type="checkbox">
                        <label for="highways" ng-bind-html="('HIGHWAYS' | translate)">
                        </label>
                    </input>
                </div>
            </li>
            <li ng-show="$ctrl.activeSubgroup == 'Car' || $ctrl.activeSubgroup == 'HeavyVehicle'">
                <div class="ui checkbox">
                    <input id="tollroads" name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.avoidables.tollroads" type="checkbox">
                        <label for="tollroads" ng-bind-html="('TOLLROADS' | translate)">
                        </label>
                    </input>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="options-box" ng-show="$ctrl.activeSubgroup == 'Car' || $ctrl.activeSubgroup == 'HeavyVehicle'">
    <div class="pointer" ng-click="avoidBorders = !avoidBorders">
        <i ng-class="$ctrl.getClass(avoidBorders)">
        </i>
        <span ng-bind-html="('AVOIDBORDERS' | translate)">
        </span>
    </div>
    <div class="collapsable" ng-class="{ showMe: avoidBorders }">
        <ul class="ors-options-menu">
            <li>
                <div class="ui checkbox">
                    <input id="borders" name="orsRouteAvoidablesInput" ng-change="$ctrl.passBordersToOptions()" ng-disable="$ctrl.avoidCountries || $ctrl.currentOptions.borders.controlled" ng-model="$ctrl.currentOptions.borders.all" type="checkbox">
                        <label for="borders" ng-bind-html="('BORDERS' | translate)">
                        </label>
                    </input>
                </div>
            </li>
            <li>
                <div class="ui checkbox">
                    <input id="controlledborders" name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-disabled="$ctrl.currentOptions.borders.all" ng-model="$ctrl.currentOptions.borders.controlled" type="checkbox">
                        <label for="controlledborders" ng-bind-html="('CONTROLLEDBORDERS' | translate)">
                        </label>
                    </input>
                </div>
            </li>
            <li>
                <div class="bottom-border">
                </div>
            </li>
            <li>
                <span class="ui checkbox">
                    <input id="av_countries" name="orsRouteAvoidablesCountries" ng-disabled="$ctrl.currentOptions.borders.all" ng-model="$ctrl.avoidCountries" ng-change="$ctrl.passBordersToOptions()" type="checkbox">
                        <label for="av_countries" ng-bind-html="('COUNTRYBORDERS' | translate)">
                        </label>
                    </input>
                </span>
                <span tooltip-side="right" tooltip-template="{{('RESET' | translate)}}" tooltips="">
                    <button class="ors-controls-button" ng-disabled="$ctrl.currentOptions.borders.all" ng-click="$ctrl.removeCountries()">
                        <i class="fa fa-remove">
                        </i>
                    </button>
                </span>
            </li>
            <li>
                <div class="row ui input">
                    <input focus-if="avoidBorders" ng-disabled="$ctrl.currentOptions.borders.all" ng-model="$ctrl.queryCountries" ng-model-options="{debounce: 300}" placeholder="{{('SEARCHAVOIDCOUNTRIES' | translate)}}" select-on-click="" type="text">
                    </input>
                </div>
            </li>
            <li>
                <div class="row">
                    <table id="results">
                        <tbody>
                        <tr ng-repeat="country in $ctrl.countries | filter: checked ">
                            <td>
                                <input class="ui checkbox" id="c_{{country.cid}}" name="orsRouteAvoidablesCountries"
                                       ng-change="$ctrl.toggleCountries(country.id)"
                                       ng-disabled="!$ctrl.avoidCountries || $ctrl.currentOptions.borders.all"
                                       ng-model="$ctrl.countries[country.id].check" type="checkbox">
                                </input>
                            </td>
                            <td id="cname">
                                {{country[$ctrl.language]}}
                            </td>
                            <td id="ename">
                                <i>
                                    <small>
                                        ({{country.official_en_name}})
                                    </small>
                                </i>
                            </td>
                        </tr>
                        <tr ng-if="$ctrl.queryCountries" ng-repeat="country in $ctrl.countries | filter: search ">
                            <td>
                                <input class="ui checkbox" id="c_{{country.cid}}" name="orsRouteAvoidablesCountries"
                                       ng-change="$ctrl.toggleCountries(country.id)"
                                       ng-disabled="$ctrl.currentOptions.borders.all"
                                       ng-model="$ctrl.countries[country.id].check" type="checkbox">
                                </input>
                            </td>
                            <td id="cname">
                                {{country[$ctrl.language]}}
                            </td>
                            <td align="right" hidden="" id="cid">
                                ({{country.cid}})
                            </td>
                            <td id="ename">
                                <i>
                                    <small>
                                        ({{country.official_en_name}})
                                    </small>
                                </i>
                            </td>
                            <td hidden="" id="nname">
                                {{country.native_names}}
                            </td>
                            <td hidden="" id="ccode">
                                {{country.country_code}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="options-box" ng-if="$ctrl.routing && $ctrl.carBrands" ng-show="$ctrl.activeSubgroup == 'Car'">
    <div class="pointer" ng-click="fuelSettings = !fuelSettings">
        <i ng-class="$ctrl.getClass(fuelSettings)">
        </i>
        <span ng-bind-html="('FUEL_CONSUMPTION' | translate)">
        </span>
    </div>
    <div class="collapsable" ng-class="{ showMe: fuelSettings }">
        <ul class="ors-options-menu">
            <li>
                <div class="ui checkbox">
                    <input
                            id="brandCheck"
                            name="orsCarBrands"
                            ng-click="$ctrl.toggleSource('brand')"
                            ng-model="$ctrl.brandCheck" type="checkbox">
                    <label for="brandCheck"
                           ng-style="!$ctrl.brandCheck ? {color:'grey'} : undefined"
                           ng-bind-html="('CAR_BRAND' | translate)"
                           ng-click="$ctrl.toggleSource('brand')">
                    </label>
                </div>
                <div ng-if="$ctrl.brandCheck">
                    <div>
                        <label for="brandInput"></label>
                        <div class="ors-options-input ui input" id="brandInput">
                            <input ng-model="$ctrl.queryBrand"
                                   ng-model-options="{debounce: 300}"
                                   ng-change="$ctrl.queryModel = ''"
                                   ng-focus="$ctrl.focusBrand = true"
                                   placeholder="{{('SEARCH' | translate)}} {{('CAR_BRAND' | translate)}}" select-on-click="" type="text">
                        </div>
                        <span tooltip-side="right" tooltip-template="{{('_RESET' | translate)}} {{('CAR_BRAND' | translate)}}" tooltips="">
                        <button class="ors-controls-button"
                                ng-click="$ctrl.focusBrand = false; $ctrl.queryBrand = undefined; $ctrl.carResponse = undefined; $ctrl.showModel = false; $ctrl.showYear = false; $ctrl.showType = false">
                            <i class="fa fa-remove">
                            </i>
                        </button>
                        </span>
                    </div>
                    <div class="row" ng-if="$ctrl.focusBrand">
                        <table id="brandResults">
                            <tbody>
                            <tr ng-repeat="brand in $ctrl.carBrands | filter: searchBrand">
                                <td>
                                    <div ng-click="$ctrl.queryBrand = brand;$ctrl.requestCars(brand);$ctrl.focusBrand = false;$ctrl.showModel = true; $ctrl.yearCheck = false; $ctrl.typeCheck = false">{{brand}}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li ng-if="$ctrl.showModel">
                <div ng-if="$ctrl.brandCheck">
                    <div class="ui checkbox">
                        <input
                                id="modelCheck"
                                ng-click="$ctrl.toggleSource('model')"
                                ng-model="$ctrl.modelCheck" type="checkbox">
                        <label for="modelCheck"
                               ng-bind-html="('CAR_MODEL' | translate)"
                               ng-click="$ctrl.toggleSource('model')">
                        </label>
                    </div>
                    <div ng-if="$ctrl.modelCheck">
                        <div class="ors-select-tooltip">
                            <label for="modelInput"></label>
                            <div class="ors-options-input ui input" id="modelInput">
                                <select class="ui selection dropdown no-wrap"
                                        ng-model="$ctrl.queryModel"
                                        ng-change="$ctrl.queryYear = ''; $ctrl.set('carYears'); $ctrl.carTypes = []; $ctrl.showYear = true"
                                        ng-focus="$ctrl.focusModel = true"
                                        ng-options="model for model in $ctrl.carModels"
                                        type="text"></select>
                            </div>
                            <span style="padding-top: 9px" tooltip-side="right" tooltip-template="{{('_RESET' | translate)}} {{('CAR_MODEL' | translate)}}" tooltips="">
                            <button class="ors-controls-button"
                                    ng-click="$ctrl.queryModel = undefined; $ctrl.showYear = false; $ctrl.showType = false">
                                <i class="fa fa-remove">
                                </i>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li ng-if="$ctrl.showYear">
                <div ng-if="$ctrl.modelCheck && $ctrl.brandCheck">
                    <div class="ui checkbox">
                    <input
                            id="yearCheck"
                            ng-click="$ctrl.toggleSource('year')"
                            ng-model="$ctrl.yearCheck" type="checkbox">
                    <label for="yearCheck"
                           ng-bind-html="('CAR_YEAR' | translate)"
                           ng-click="$ctrl.toggleSource('year')">
                    </label>
                    </div>
                    <div ng-if="$ctrl.yearCheck">
                        <div class="ors-select-tooltip">
                            <label for="yearInput"></label>
                            <div class="ors-options-input ui input" id="yearInput">
                                <select class="ui selection dropdown no-wrap"
                                        ng-model="$ctrl.queryYear"
                                        ng-change="$ctrl.queryType = ''; $ctrl.showType = true; $ctrl.set('carTypes');$ctrl.focusYear = false"
                                        ng-focus="$ctrl.focusYear = true"
                                        ng-options="year for year in $ctrl.filterOutAll($ctrl.carYears)" type="text"></select>
                            </div>
                            <span tooltip-side="right" tooltip-template="{{('_RESET' | translate)}} {{('CAR_YEAR' | translate)}}" tooltips="">
                            <button class="ors-controls-button"
                                    ng-click="$ctrl.queryYear = undefined; $ctrl.showType = false">
                                <i class="fa fa-remove">
                                </i>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li ng-if="$ctrl.showType">
                <div ng-if="$ctrl.modelCheck && $ctrl.brandCheck && $ctrl.yearCheck">
                    <div class="ui checkbox">
                        <input
                                id="typeCheck"
                                ng-click="$ctrl.toggleSource('type')"
                                ng-model="$ctrl.typeCheck" type="checkbox">
                        <label for="typeCheck"
                               ng-bind-html="('CAR_TYPE' | translate)"
                               ng-click="$ctrl.toggleSource('type')">
                        </label>
                    </div>
                    <div ng-if="$ctrl.typeCheck">
                        <div class="ors-select-tooltip">
                            <label for="typeInput"></label>
                            <div class="ors-options-input ui input" id="typeInput">
                                <select class="ui selection dropdown"
                                        ng-model="$ctrl.queryType"
                                        ng-options="type for type in $ctrl.filterOutAll($ctrl.carTypes)"
                                        ng-change="$ctrl.set('carTypes');"
                                        type="text"></select>
                            </div>
                            <span tooltip-side="right" tooltip-template="{{( '_RESET' | translate)}} {{( 'CAR_TYPE' | translate)}}" tooltips="">
                                <button class="ors-controls-button"
                                        ng-click="$ctrl.queryType = undefined">
                                    <i class="fa fa-remove">
                                    </i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ui checkbox">
                    <input type="checkbox"
                           id="categoryCheck"
                           ng-model="$ctrl.categoryCheck"
                           ng-click="$ctrl.toggleSource('category')"
                    >
                    <label for="categoryCheck"
                           ng-style="!$ctrl.categoryCheck ? {color:'grey'} : undefined"
                           ng-bind-html="('VEHICLE_CATEGORY' | translate) + ': '"
                           ng-click="$ctrl.toggleSource('category')">
                    </label>
                </div>
                <div ng-if="$ctrl.categoryCheck">
                    <label for="vehicleCategory">
                    </label>
                    <select class="ors-options-input ui selection dropdown no-wrap"
                            id="vehicleCategory"
                            ng-model="$ctrl.ofs.filters.vehicle_categories[0]"
                            ng-change="$ctrl.chooseCategory()"
                            ng-options="category.short as category.en for category in $ctrl.carCategories"></select>
                </div>
            </li>
            <li>
                <div>
                    <label for="fuelType" ng-bind-html="('FUEL_TYPE' | translate) + ': '">
                    </label>
                    <select class="ors-options-input ui selection dropdown"
                            id="fuelType" ng-model="$ctrl.ofs.filters.fuel_type"
                            ng-options="fueltype for fueltype in ['gasoline','diesel']"></select>
                </div>
            </li>
            <li>
                <span>
                    <label for="drivingSpeed" ng-bind-html="('DRIVING_SPEED' | translate) + ': '">
                    </label>
                    <span class="row ui input">
                        <input id="drivingSpeed"
                               ng-model="$ctrl.ofs.filters.driving_speed"
                               style="width: 60px"
                        >
                    </span>
                </span>
            </li>
            <li>
                <div class="ui divider">
                </div>
                <div>
                    <p class="-italic" ng-bind-html="('OPTIONAL_PARAMS' | translate)"></p>
                </div>
                <div>
                    <span class="ui checkbox">
                        <input id="consumptionCheck" type="checkbox" value="$ctrl.fuelConsumption" ng-model="$ctrl.fuelConsumption"
                           ng-click="$ctrl.fuelConsumption != $ctrl.fuelConsumption">
                        <label for="consumptionCheck" class="ors-options-label"></label>
                    </span>
                    <label for="fuelConsumption" ng-bind-html="('SPECIFIC_FUEL_CONSUMPTION' | translate) + ': '">
                    </label>
                    <span class="row ui input">
                        <input id="fuelConsumption"
                               ng-disabled="!$ctrl.fuelConsumption"
                               ng-model="$ctrl.ofs.filters.fuel_consumptions[$ctrl.ofs.filters.vehicle_categories[0]]"
                               style="width: 60px"
                        >
                    </span>
                    <div>
                        in litres per 100 km
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <span class="ui checkbox">
                        <input id="tankSizeCheck" type="checkbox" value="$ctrl.tankSize" ng-model="$ctrl.tankSize"
                           ng-click="$ctrl.tankSize != $ctrl.tankSize">
                        <label for="tankSizeCheck" class="ors-options-label"></label>
                    </span>
                    <label for="tankSize" ng-bind-html="('TANK_SIZE' | translate) + ': '">
                    </label>
                    <span class="row ui input">
                        <input id="tankSize"
                               ng-disabled="!$ctrl.tankSize"
                               ng-model="$ctrl.ofs.filters.tank_sizes[$ctrl.ofs.filters.vehicle_categories[0]]"
                               style="width : 60px"
                        >
                    </span>
                     liters
                </div>
            </li>
            <li>
                <div class="ui divider">
                </div>
                <span>
                    <button ng-class="{
                                'tiny teal ui button disabled': !(($ctrl.categoryCheck)||($ctrl.modelCheck && $ctrl.queryModel && $ctrl.queryBrand)),
                                'tiny teal ui button': !$ctrl.requesting && (($ctrl.categoryCheck)||($ctrl.modelCheck && $ctrl.queryModel && $ctrl.queryBrand)),
                                'tiny teal ui button loading': $ctrl.requesting}"
                            ng-click="$ctrl.requestConsumption()"
                            class="tiny teal ui button">
                        <i class="fa gas-pump">
                        </i>
                        <span ng-bind-html="('CALC_CONSUMPTION' | translate)" class="ng-binding"></span>
                    </button>
                </span>
                <span class="ui checkbox">
                        <input id="autoCall" type="checkbox" value="$ctrl.autoCall" ng-model="$ctrl.autoCall"
                               ng-click="$ctrl.toggleAutoCall()"/>
                        <label for="autoCall" class="ors-options-label">{{( "ON_ROUTE_CHANGE" | translate)}}</label>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="options-box" ng-show="$ctrl.activeSubgroup == 'HeavyVehicle'">
    <div class="pointer" ng-click="hgvOptions = !hgvOptions">
        <i ng-class="$ctrl.getClass(hgvOptions)">
        </i>
        <span ng-bind-html="('HGVSETTINGS' | translate)">
        </span>
    </div>
    <div class="collapsable" ng-class="{ showMe: hgvOptions }">
        <div class="ors-options-menu">
            <rzslider rz-slider-model="$ctrl.hgvSliders.Length.value" rz-slider-options="$ctrl.hgvSliders.Length.options">
            </rzslider>
            <div class="ui checkbox">
                <input id="hgv-length-cb" name="orsRouteHgvOpts" ng-change="$ctrl.toggleHgvOptSlider('length')" ng-model="$ctrl.hgvLengthCb" type="checkbox">
                    <label for="hgv-length-cb" ng-bind-html="('HGVLENGTH' | translate)">
                    </label>
                </input>
            </div>
            <div class="ui divider">
            </div>
            <rzslider rz-slider-model="$ctrl.hgvSliders.Width.value" rz-slider-options="$ctrl.hgvSliders.Width.options">
            </rzslider>
            <div class="ui checkbox">
                <input id="hgv-width-cb" name="orsRouteHgvOpts" ng-change="$ctrl.toggleHgvOptSlider('width')" ng-model="$ctrl.hgvWidthCb" type="checkbox">
                    <label for="hgv-width-cb" ng-bind-html="('HGVWIDTH' | translate)">
                    </label>
                </input>
            </div>
            <div class="ui divider">
            </div>
            <rzslider rz-slider-model="$ctrl.hgvSliders.Height.value" rz-slider-options="$ctrl.hgvSliders.Height.options">
            </rzslider>
            <div class="ui checkbox">
                <input id="hgv-height-cb" name="orsRouteHgvOpts" ng-change="$ctrl.toggleHgvOptSlider('height')" ng-model="$ctrl.hgvHeightCb" type="checkbox">
                    <label for="hgv-weight-cb" ng-bind-html="('HGVHEIGHT' | translate)">
                    </label>
                </input>
            </div>
            <div class="ui divider">
            </div>
            <rzslider rz-slider-model="$ctrl.hgvSliders.Weight.value" rz-slider-options="$ctrl.hgvSliders.Weight.options">
            </rzslider>
            <div class="ui checkbox">
                <input id="hgv-weight-cb" name="orsRouteHgvOpts" ng-change="$ctrl.toggleHgvOptSlider('hgvWeight')" ng-model="$ctrl.hgvWeightCb" type="checkbox">
                    <label for="hgv-weight-cb" ng-bind-html="('HGVWEIGHT' | translate)">
                    </label>
                </input>
            </div>
            <div class="ui divider">
            </div>
            <rzslider rz-slider-model="$ctrl.hgvSliders.AxleLoad.value" rz-slider-options="$ctrl.hgvSliders.AxleLoad.options">
            </rzslider>
            <div class="ui checkbox">
                <input id="hgv-axleload-cb" name="orsRouteHgvOpts" ng-change="$ctrl.toggleHgvOptSlider('axleload')" ng-model="$ctrl.hgvAxleloadCb" type="checkbox">
                    <label for="hgv-axleload-cb" ng-bind-html="('HGVAXLELOAD' | translate)">
                    </label>
                </input>
            </div>
        </div>
        <div class="ui divider">
        </div>
        <ul class="ors-options-menu">
            <li>
                <div class="ui checkbox">
                    <input id="hazmat" name="orsRouteAvoidablesInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.hazmat" type="checkbox">
                        <label for="hazmat" ng-bind-html="('HGVHAZMAT' | translate)">
                        </label>
                    </input>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="options-box" ng-show="$ctrl.activeSubgroup == 'Pedestrian'">
    <div class="pointer" ng-click="additionalOptions = !additionalOptions">
        <i ng-class="$ctrl.getClass(additionalOptions)">
        </i>
        <span ng-bind-html="('ADDITIONALSETTINGS' | translate)">
        </span>
    </div>
    <div class="collapsable" ng-class="{ showMe: additionalOptions }">
        <div class="ors-options-menu" ng-show="$ctrl.activeSubgroup == 'Pedestrian'">
            <div class="ui checkbox">
                <input id="landmarks" name="orsLandmarkInput" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.landmarks" type="checkbox">
                    <label for="landmarks" ng-bind-html="('SHOWLANDMARKS' | translate)">
                    </label>
                </input>
            </div>
        </div>
        <div class="ors-options-menu" ng-show="$ctrl.activeSubgroup == 'Pedestrian'">
            <div class="ui checkbox">
                <input id="greenrouting" name="orsRouteGreenRoutingInput" ng-change="$ctrl.toggleGreenSlider()"
                       ng-model="$ctrl.greenActive" type="checkbox">
                <label for="greenrouting" ng-bind-html="('GREEN_ROUTING' | translate)">
                </label>
                </input>
            </div>
            <rzslider rz-slider-model="$ctrl.greenSlider.value" rz-slider-options="$ctrl.greenSlider.options">
            </rzslider>
        </div>
        <div class="ors-options-menu" ng-show="$ctrl.activeSubgroup == 'Pedestrian'">
            <div class="ui checkbox">
                <input id="quietrouting" name="orsRouteQuietRoutingInput" ng-change="$ctrl.toggleQuietSlider()"
                       ng-model="$ctrl.quietActive" type="checkbox">
                <label for="quietrouting" ng-bind-html="('QUIET_ROUTING' | translate)">
                </label>
                </input>
            </div>
            <rzslider rz-slider-model="$ctrl.quietSlider.value" rz-slider-options="$ctrl.quietSlider.options">
            </rzslider>
        </div>
    </div>
</div>
<div class="options-box" ng-show="$ctrl.activeSubgroup == 'Wheelchair'">
    <div class="pointer" ng-click="wheelchairOptions = !wheelchairOptions">
        <i ng-class="$ctrl.getClass(wheelchairOptions)">
        </i>
        <span ng-bind-html="('WHEELCHAIRSETTINGS' | translate)">
        </span>
    </div>
    <div class="collapsable" ng-class="{ showMe: wheelchairOptions }">
        <div class="ors-options-menu">
            <div class="ors-options-menu">
                <div class="ui label tiny flleft">
                    <span ng-bind-html="('SURFACE' | translate)">
                    </span>
                    <span ng-bind-html="':'">
                    </span>
                    <div class="detail" ng-bind="$ctrl.optionList.wheelchair.Surface[$ctrl.wheelchairSliders.Surface.value].name">
                    </div>
                </div>
                <rzslider rz-slider-model="$ctrl.wheelchairSliders.Surface.value" rz-slider-options="$ctrl.wheelchairSliders.Surface.options">
                </rzslider>
                <div class="ui divider">
                </div>
                <div class="ui label tiny flleft">
                    <span ng-bind-html="('INCLINE' | translate)">
                    </span>
                    <span ng-bind-html="':'">
                    </span>
                    <div class="detail" ng-bind="$ctrl.optionList.wheelchair.Incline[$ctrl.wheelchairSliders.Incline.value].name">
                    </div>
                </div>
                <rzslider rz-slider-model="$ctrl.wheelchairSliders.Incline.value" rz-slider-options="$ctrl.wheelchairSliders.Incline.options">
                </rzslider>
                <div class="ui divider">
                </div>
                <div class="ui label tiny flleft">
                    <span ng-bind-html="('CURB' | translate)">
                    </span>
                    <span ng-bind-html="':'">
                    </span>
                    <div class="detail" ng-bind="$ctrl.optionList.wheelchair.Curb[$ctrl.wheelchairSliders.Curb.value].name">
                    </div>
                </div>
                <rzslider rz-slider-model="$ctrl.wheelchairSliders.Curb.value" rz-slider-options="$ctrl.wheelchairSliders.Curb.options">
                </rzslider>
                <div class="ui label tiny flleft">
                    <span ng-bind-html="('WHEELCHAIR_WIDTH' | translate)">
                    </span>
                    <span ng-bind-html="':'">
                    </span>
                    <div class="detail" ng-bind="$ctrl.optionList.wheelchair.Width[$ctrl.wheelchairSliders.Width.value].name">
                    </div>
                </div>
                <rzslider rz-slider-model="$ctrl.wheelchairSliders.Width.value" rz-slider-options="$ctrl.wheelchairSliders.Width.options">
                </rzslider>
            </div>
        </div>
    </div>
</div>
