.ors-routing-inner {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
}


.ors-wp-list {
    padding: 20px 0px 10px 10px;
    display: flex;
    flex-direction: column;
}

.ors-wp-item {
    width: 320px;
    padding: 2px;
    display: flex;
    cursor: move;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .wp-idx {
        flex: 0 0 auto;
    }
    .wp-input {
        flex: 1 1 auto;
        margin-left: 10px;
        input {
            border-right: transparent !important;
            &:focus, &:active {
                border: 1px solid rgba(34, 36, 38, 0.15) !important;
                border-right: transparent !important;
            }
        }
        .wp-input-label {
            border-left: none !important;
            padding: 10px 8px 0 0 !important;
            button {
                visibility: hidden !important;
            }
            button.show {
                visibility: visible !important;
            }
        }
    }
}

.ui-sortable-disabled {
    .ors-wp-item {
        cursor: default;
    }
}

.ors-addresses {
    padding: 15px 0 15px 0;
    font-weight: normal;
    .item {
        .ng-binding {
            &:hover {
                color: black;
                cursor: pointer;
            }
        }
    }
}