<div>
	<div>   
        <label>X column</label>
        <select ng-change="change_csvSeparator(selected_csvSeparator)" ng-options="csvSepOpt.text for csvSepOpt in csvSeparator" ng-model="selected_csvSeparator"></select>
    </div>
    <div>   
        <label>Y column</label>
        <select ng-change="change_csvSeparator(selected_csvSeparator)" ng-options="csvSepOpt.text for csvSepOpt in csvSeparator" ng-model="selected_csvSeparator"></select>
    </div>
    <div>   
        <label>Z column</label>
        <select ng-change="change_csvSeparator(selected_csvSeparator)" ng-options="csvSepOpt.text for csvSepOpt in csvSeparator" ng-model="selected_csvSeparator"></select>
    </div>
</div>