    <button class="ors-button flleft" ng-click="$ctrl.changeProfile()">
        <i class="fa fa-car">
        </i>
    </button>
    <button class="ors-button flleft">
        <i class="fa fa-bicycle">
        </i>
    </button>
    <button class="ors-button flleft">
        <i class="fa fa-wheelchair">
        </i>
    </button>
    <button class="ors-button flleft">
        <i class="fa fa-bus">
        </i>
    </button>
    <button class="ors-button flleft">
        <i class="fa fa-male">
        </i>
    </button>
    <button class="ors-button flright">
            <i class="fa fa-cog">
            </i>
    </button>
