<div aria-label="ors profiles" class="btn-group" role="group">
    <button class="btn btn-default" type="button" ng-click="$ctrl.changeProfile()">
        C
    </button>
    <button class="btn btn-default" type="button">
        B
    </button>
    <button class="btn btn-default" type="button">
        P
    </button>
    <button class="btn btn-default" type="button">
        HGV
    </button>
    <button class="btn btn-default" type="button">
        W
    </button>
    <button class="btn btn-default" type="button">
        O
    </button>
</div>