<ul class="ors-nav-menu">
    <li>
        <button class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.Car.name)">
            <i class="fa fa-lg fa-car" ng-class="{active : $ctrl.activeMenu === $ctrl.profiles.Car.name}">
            </i>
        </button>
    </li>
    <li>
        <button class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.Bicycle.name)">
            <i class="fa fa-lg fa-bicycle" ng-class="{active : $ctrl.activeMenu === $ctrl.profiles.Bicycle.name}">
            </i>
        </button>
        <span>  
            <i class="fa fa-caret-down" style="margin-top: 20px;">
            </i>
            <ul class="ors-nav-submenu">
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileBicycle" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.Bicycle.name" type="radio">
                        <label>Normal</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileBicycle" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.BicycleSafety.name" type="radio">
                        <label>Safest Route</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileBicycle" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.BicycleTouring.name" type="radio">
                        <label>Cycle Tour</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileBicycle" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.BicycleMTB.name" type="radio">
                        <label>Mountain Bicycle</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileBicycle" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.BicycleRacer.name" type="radio">
                        <label>Racing Bicycle</label>
                    </div>
                </li>
            </ul>
        </span>
    </li>
    <li>
        <button class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.Pedestrian.name)">
            <i class="fa fa-lg fa-male" ng-class="{active : $ctrl.activeMenu === $ctrl.profiles.Pedestrian.name}">
            </i>
        </button>
    </li>
    <li>
        <button class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.Wheelchair.name)">
            <i class="fa fa-lg fa-wheelchair" ng-class="{active : $ctrl.activeMenu === $ctrl.profiles.Wheelchair.name}">
            </i>
        </button>
    </li>
    <li>
        <button class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.HeavyVehicle.name)">
            <i class="fa fa-lg fa-bus" ng-class="{active : $ctrl.activeMenu === $ctrl.profiles.HeavyVehicle.name}">
            </i>
        </button>
        <span>
            <i class="fa fa-caret-down" style="margin-top: 20px;">
            </i>
            <ul class="ors-nav-submenu">
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.HeavyVehicle.name" type="radio">
                        <label>Heavy Vehicle</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.Goods.name" type="radio">
                        <label>Goods</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.Bus.name" type="radio">
                        <label>Bus</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.Agricultural.name" type="radio">
                        <label>Agricultural</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.Forestry.name" type="radio">
                        <label>Forestry</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.Delivery.name" type="radio">
                        <label>Delivery</label>
                    </div>
                </li>
            </ul>
        </span>
    </li>
    <li class="flright" style="padding-top: 7px; padding-right: 7px;" ng-show="$ctrl.loading">
        <div class="ui active inline tiny loader"></div>
    </li>
</ul>
