<ul class="ors-nav-menu">
    <li>
        <button tooltips tooltip-template="{{('CAR' | translate)}}" tooltip-side="bottom" class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.Car.name)">
            <i class="fa fa-lg fa-car" ng-class="{active : $ctrl.activeSubgroup === $ctrl.profiles.Car.name}">
            </i>
        </button>
    </li>
    <li>
        <button tooltips tooltip-template="{{('HGV' | translate)}}" tooltip-side="bottom"  class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.hgv.name)">
            <i class="fa fa-lg fa-bus" ng-class="{active : $ctrl.activeSubgroup === $ctrl.profiles.hgv.subgroup}">
            </i>
        </button>
        <span>
            <i class="fa fa-caret-down" style="margin-top: 20px;">
            </i>
            <ul class="ors-nav-submenu">
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.hgv.name" type="radio" id="hgv">
                        <label for="hgv" ng-bind-html="('HEAVYVEHICLENORMAL' | translate)"></label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.goods.name" type="radio" id="goods">
                        <label for="goods" ng-bind-html="('HEAVYVEHICLEGOODS' | translate)"></label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.bus.name" type="radio" id="bus">
                        <label for="bus" ng-bind-html="('HEAVYVEHICLEBUS' | translate)"></label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.agricultural.name" type="radio" id="agricultural">
                        <label for="agricultural" ng-bind-html="('HEAVYVEHICLEAGRICULTURAL' | translate)">Agricultural</label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.forestry.name" type="radio" id="forestry">
                        <label for="forestry" ng-bind-html="('HEAVYVEHICLEFORESTRY' | translate)"></label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileHGV" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.delivery.name" type="radio" id="delivery">
                        <label for="delivery" ng-bind-html="('HEAVYVEHICLEDELIVERY' | translate)"></label>
                    </div>
                </li>
            </ul>
        </span>
    </li>
    <li>
        <button tooltips tooltip-template="{{('BICYCLE' | translate)}}" tooltip-side="bottom" class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.Bicycle.name)">
            <i class="fa fa-lg fa-bicycle" ng-class="{active : $ctrl.activeSubgroup === $ctrl.profiles.Bicycle.name}">
            </i>
        </button>
        <span>
            <i class="fa fa-caret-down" style="margin-top: 20px;">
            </i>
            <ul class="ors-nav-submenu">
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileBicycle" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.Bicycle.name" type="radio" id="bicycle">
                        <label for="bicycle" ng-bind-html="('BICYCLENORMAL' | translate)"></label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileBicycle" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.BicycleMTB.name" type="radio" id="mtb">
                        <label for="mtb" ng-bind-html="('BICYCLEMTB' | translate)"></label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileBicycle" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.BicycleRacer.name" type="radio" id="racing">
                        <label for="racing" ng-bind-html="('BICYCLERACING' | translate)"></label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfileBicycle" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.BicycleElectro.name" type="radio" id="electro">
                        <label for="electro" ng-bind-html="('BICYCLEELECTRO' | translate)"></label>
                    </div>
                </li>
            </ul>
        </span>
    </li>
    <li>
        <button tooltips tooltip-template="{{('PEDESTRIAN' | translate)}}" tooltip-side="bottom"  class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.Pedestrian.name)">
            <i class="fa fa-lg fa-male" ng-class="{active : $ctrl.activeSubgroup === $ctrl.profiles.Pedestrian.name}">
            </i>
        </button>
        <span>
            <i class="fa fa-caret-down" style="margin-top: 20px;">
            </i>
            <ul class="ors-nav-submenu">
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfilePedestrian" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.Pedestrian.name" type="radio" id="pedestrian">
                        <label for="pedestrian" ng-bind-html="('PEDESTRIANNORMAL' | translate)"></label>
                    </div>
                </li>
                <li>
                    <div class="ui radio checkbox">
                        <input name="orsProfilePedestrian" ng-change="$ctrl.changeProfile()" ng-model="$ctrl.currentProfile.type" ng-value="$ctrl.profiles.PedestrianHiking.name" type="radio" id="hiking">
                        <label for="hiking" ng-bind-html="('PEDESTRIANHIKING' | translate)"></label>
                    </div>
                </li>
            </ul>
        </span>
    </li>
    <li>
        <button tooltips tooltip-template="{{('WHEELCHAIR' | translate)}}" tooltip-side="bottom"  class="ors-button flleft" ng-click="$ctrl.changeProfile($ctrl.profiles.Wheelchair.name)">
            <i class="fa fa-lg fa-wheelchair-alt" ng-class="{active : $ctrl.activeSubgroup === $ctrl.profiles.Wheelchair.name}">
            </i>
        </button>
    </li>
    <li ng-if="$ctrl.activeSubgroup === $ctrl.profiles.Wheelchair.name">
        <span class="ors-nav-wheelchair-warning">{{('WHEELCHAIR_FLAG' | translate)}}</span>
    </li>
</ul>
