<header>
    <h1 ng-bind-html="('SHARE_LINK' | translate)">
    </h1>
</header>
<section>
    <form class="ui form">
        <div class="field">
            <div class="ui checkbox">
                <input name="shortenlink" type="checkbox" ng-change="$ctrl.shortenLink()" ng-model="$ctrl.shortenLinkBool">
                    <label ng-bind-html="('SHORTEN' | translate)">
                    </label>
                </input>
            </div>
        </div>
        <div class="field">
            <div class="ui input">
                <input type="text" ng-model="$ctrl.linkText">
                </input>
            </div>
        </div>
        <span ng-bind-html="('SHORTEN_HINT' | translate)">
        </span>
    </form>
</section>