<header>
    <h1 ng-bind-html="('DOWNLOAD_ISOCHRONES' | translate)">
    </h1>
</header>
<section>
    <div>
        <label ng-bind-html="('FILE_NAME' | translate)">
        </label>
        <div class="ui input">
            <input ng-model="$ctrl.filename" required="" select-on-click="">
            </input>
        </div>
    </div>
    <div class="ui divider">
    </div>
    <div>
        <label ng-bind-html="('FILE_FORMAT' | translate)">
            File Format
        </label>
        <select ng-change="$ctrl.change_fileFormat($ctrl.selected_fileformat)" ng-model="$ctrl.selected_fileformat" ng-options="fileFormatOpt.text for fileFormatOpt in $ctrl.fileFormat">
        </select>
    </div>
    <div class="ui divider">
    </div>
    <button ng-bind-html="('DOWNLOAD' | translate)" ng-click="$ctrl.exportRoute()">
    </button>
</section>