<header>
    <h1 ng-bind-html="('DOWNLOAD_ROUTE' | translate)">
    </h1>
</header>
<section>
    <div>
        <label ng-bind-html="('FILE_FORMAT' | translate)">
        </label>
        <select ng-change="$ctrl.change_fileFormat($ctrl.selected_fileformat)" ng-model="$ctrl.selected_fileformat" ng-options="fileFormatOpt.text for fileFormatOpt in $ctrl.fileFormat">
        </select>
    </div>
    <div class="ui divider">
    </div>
    <button class="ui mini button" ng-bind-html="('DOWNLOAD' | translate)" ng-click="$ctrl.exportRoute()">
    </button>
</section>
