<header>
    <h1 ng-bind-html="('DOWNLOAD_ROUTE' | translate)">
    </h1>
</header>
<section>
    <div>
        <label ng-bind-html="('FILE_NAME' | translate)">
        </label>
        <div class="ui input">
            <input ng-model="$ctrl.filename" required="" select-on-click="">
        </div>
    </div>
    <div class="ui divider">
    </div>
    <div>
        <label ng-bind-html="('FILE_FORMAT' | translate)">
        </label>
        <select class="ui selection dropdown" ng-change="$ctrl.change_fileFormat($ctrl.selected_fileformat)"
                ng-model="$ctrl.selected_fileformat"
                ng-options="fileFormatOpt.text for fileFormatOpt in $ctrl.fileFormat">
        </select>
    </div>
    <div ng-if="$ctrl.geojsonOptShow">
        <br>
        <div class="ui checkbox">
            <input type="checkbox" id="elevation" data-ng-model="$ctrl.elevation"
                   ng-click="$ctrl.elevation != $ctrl.elevation"/>
            <label for="elevation" ng-bind-html="('ELEVATION' | translate)"></label>
        </div>
    </div>
    <div ng-if="$ctrl.gpxOptShow">
        <br>
        <div class="field ors-inline">
            <div class="ui radio checkbox">
                <input ng-model="$ctrl.toGpx"
                       ng-value=true type="radio">
                <label ng-click="$ctrl.toGpx = true">togpx
                </label>
            </div>
        </div>
        <div class="field ors-inline">
            <div class="ui radio checkbox">
                <input  ng-model="$ctrl.toGpx"
                        ng-value=false type="radio">
                <label ng-click="$ctrl.toGpx = false">Ors API
                </label>
            </div>
        </div>
        <div ng-if="!$ctrl.toGpx">
            <br>
            <div class="ui checkbox">
                <input type="checkbox" id="instructions" data-ng-model="$ctrl.instructions"
                       ng-click="$ctrl.instructions != $ctrl.instructions">
                <label for="instructions" ng-bind-html="('INCLUDE_INSTRUCTIONS' | translate)"></label>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.tcxOptShow">
        <br>
        <label ng-bind-html="('PACE_SPEED_INKMH' | translate)">
        </label>
        <div class="ui input">
            <input ng-model="$ctrl.speedInKmh" required="" type="number" step="0.1">
        </div>
    </div>
    <div class="ui divider">
    </div>
    <button class="ui mini button" ng-bind-html="('DOWNLOAD' | translate)" ng-click="$ctrl.exportRoute()">
    </button>
</section>
