<div ng-attr-class="{{ 'ui message fade ' + $ctrl.message.color }}" ng-if="$ctrl.show" ng-show="$ctrl.show">
    <i class="fa fa-close flright" data-ng-click="$ctrl.show = !$ctrl.show">
    </i>
    <div class="header" ng-bind-html="('NOTICE' | translate)">
    </div>
    <div class="list">
        <span ng-if="$ctrl.message.translate" ng-bind-html="($ctrl.message.translate | translate)">
        </span>
        <span ng-if="$ctrl.message.text" ng-bind-html="$ctrl.message.text">
        </span>
    </div>
</div>
