<div class="options-box" ng-show="$ctrl.activeSubgroup == 'Car' || $ctrl.activeSubgroup == 'Bicycle' || $ctrl.activeSubgroup == 'Wheelchair' || $ctrl.activeSubgroup == 'HeavyVehicle' || $ctrl.activeSubgroup == 'Pedestrian'">
    <div class="pointer" ng-click="aaSlidersOptions = !aaSlidersOptions">
        <i ng-class="$ctrl.getClass(aaSlidersOptions);">
        </i>
        <span ng-bind-html="('ISOCHRONE_OPTIONS' | translate)">
        </span>
    </div>
    <div class="collapsable" ng-class="{ showMe: aaSlidersOptions }">
        <div class="ors-options-menu"> 
            <div class="ui label tiny margin-bottom-10">
                <span ng-bind-html="('ISOCHRONEMETHOD' | translate)">
                </span>
            </div>
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="method-time" name="frequency" ng-click="$ctrl.changeOptions(true)" ng-model="$ctrl.currentOptions.analysis_options.method" ng-value="$ctrl.optionList.methodOptions.TIME.id" type="radio">
                                <label for="method-time" ng-bind-html="('METHODTIME' | translate)">
                                </label>
                            </input>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="method-unpaved" name="frequency" ng-click="$ctrl.changeOptions(true)" ng-model="$ctrl.currentOptions.analysis_options.method" ng-value="$ctrl.optionList.methodOptions.DISTANCE.id" type="radio">
                                <label for="method-unpaved" ng-bind-html="('METHODDISTANCE' | translate)">
                                </label>
                            </input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider">
            </div>
            <div class="ui checkbox">
                <input id="reverse-flow" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.analysis_options.reverseflow" type="checkbox">
                    <label for="reverse-flow" ng-bind-html="('REVERSEFLOW' | translate)">
                    </label>
                </input>
            </div>
            <div class="ui divider">
            </div>
            <div class="ui label tiny" ng-switch="$ctrl.currentOptions.analysis_options.method">
                <span ng-bind-html="('TIMEDISTANCE' | translate)" ng-switch-when="0">
                </span>
                <span ng-bind-html="('DISTANCE' | translate)" ng-switch-when="1">
                </span>
                <div class="detail">
                    <span ng-bind-html="($ctrl.isochroneMinutesSlider.value*1000 | distance:true)" ng-switch-when="1">
                    </span>
                    <span ng-bind-html="$ctrl.isochroneMinutesSlider.value" ng-switch-when="0">
                    </span>
                    <span ng-bind-html="'min'" ng-switch-when="0">
                    </span>
                </div>
            </div>
            <rzslider rz-slider-model="$ctrl.isochroneMinutesSlider.value" rz-slider-options="$ctrl.isochroneMinutesSlider.options">
            </rzslider>
            <div class="ui divider">
            </div>
            <div class="ui label tiny" ng-switch="$ctrl.currentOptions.analysis_options.method">
                <span ng-bind-html="('ISOCHRONEINTERVAL' | translate)">
                </span>
                <div class="detail">
                    <span ng-bind-html="($ctrl.isochroneIntervalSlider.value*1000 | distance: true)" ng-switch-when="1">
                    </span>
                    <span ng-bind-html="$ctrl.isochroneIntervalSlider.value" ng-switch-when="0">
                    </span>
                    <span ng-bind-html="'min'" ng-switch-when="0">
                    </span>
                </div>
            </div>
            <rzslider rz-slider-model="$ctrl.isochroneIntervalSlider.value" rz-slider-options="$ctrl.isochroneIntervalSlider.options">
            </rzslider>
        </div>
    </div>
</div>