<div class="ors-route-controls">
	<button tooltips tooltip-template="{{('CALCULATE' | translate)}}" tooltip-side="top" class="ors-controls-button flleft" ng-click="$ctrl.calculate()">
        <i class="fa fa-fw fa-bullseye">
        </i>
    </button>
	<button tooltips tooltip-template="{{('EXPAND' | translate)}}" tooltip-side="top" class="ors-controls-button flleft" ng-click="$ctrl.zoomToArea()">
        <i class="fa fa-expand">
        </i>
    </button>
    <button tooltips tooltip-template="{{('RESET' | translate)}}" tooltip-side="top" class="ors-controls-button flleft" ng-click="$ctrl.reset()">
        <i class="fa fa-remove">
        </i>
    </button>
</div>