<ors-waypoint idx="$index" ng-repeat="waypoint in $ctrl.waypoints" on-delete="$ctrl.deleteWaypoint(idx)" on-move-down="$ctrl.moveDownWaypoint(idx)" on-move-up="$ctrl.moveUpWaypoint(idx)" on-waypoints-changed="$ctrl.waypointsChanged()" waypoint="waypoint" waypoints="$ctrl.waypoints" show-add="$ctrl.showAdd">
</ors-waypoint>
<ors-route-controls show-add="$ctrl.showAdd" on-add="$ctrl.addWaypoint()" on-reverse="$ctrl.reverseWaypoints()" on-reset="$ctrl.resetWaypoints()" on-waypoints-changed="$ctrl.waypointsChanged()">
</ors-route-controls>
