<div class="flright" style="margin-right: 15px; margin-top:3px; color: rgba(0, 0, 0, 0.6);" ng-show="$ctrl.waypoints.length > 2" ng-click="$ctrl.collapse()">
	<i ng-class="$ctrl.collapseIcon"></i>
</div>
<div ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.waypoints" class="ors-wp-list">
     <div ng-repeat="waypoint in $ctrl.waypoints" ng-show="$ctrl.collapseWp($index)" class="ors-wp-container">
     	<ors-waypoint round-trip="$ctrl.roundTrip" idx="$index" on-delete="$ctrl.deleteWaypoint(idx)" waypoint="waypoint" waypoints="$ctrl.waypoints" show-add="$ctrl.showAdd" show-geocoding-panel="$ctrl.showGeocodingPanel" show-geocoding-panel-idx="$ctrl.showGeocodingPanelIdx">
		</ors-waypoint>
		<div class="ui horizontal divider ors-wp-divider" ng-show="$ctrl.showViapoints($index)">
		    <a class="ui circular label ors-label">
		    	{{$ctrl.waypoints.length - 2}}
		  	</a>
		 </div>
	</div>
</div>
<div>
	<select class="ui selection dropdown" ng-change="$ctrl.changeTimeMode($ctrl.timeMode)"
			ng-model="$ctrl.timeMode"
			ng-options="(timeMode.text | translate) for timeMode in $ctrl.timeModes">
	</select>
</div>
<div class="ors-wp-item" ng-if="$ctrl.timeMode.id != 0">
	<span class="wp-idx">
		<i aria-hidden="true" class="fa fa-calendar">
		</i>
	</span>
	<span class="wp-input">
		<div class="ui left labeled fluid input">
			<input class="form-control"
				   ng-model="$ctrl.timeInput"
				   min-view="month"
				   max-view="hour"
				   format="llll"
				   locale="{{$ctrl.locale}}"
				   ng-model-options="{ updateOn: 'blur' }"
				   placeholder="Select a date..."
				   moment-picker="$ctrl.timeInput">
		</div>
	</span>
</div>
<div class="bottom-border"></div>
<ors-route-controls show-add="$ctrl.showAdd" on-add="$ctrl.addWaypoint()" on-reverse="$ctrl.reverseWaypoints()" on-reset="$ctrl.resetWaypoints()" on-waypoints-changed="$ctrl.waypointsChanged()" active-profile="$ctrl.activeProfile" active-subgroup="$ctrl.activeSubgroup" round-trip="$ctrl.roundTrip">
</ors-route-controls>
<div class="bottom-border"></div>
