<div ng-attr-class="{{ 'ui message ors-map-message fade white' }}" ng-show="hereShow">
    <div class="flright textcenter"
         data-ng-click="hereShow = !hereShow; mapModel.geofeatures.layerHereMarkers.clearLayers();"
         ng-style="{'width': 13 + 'px', 'height': 15 + 'px'}">
        <i class="fa fa-close">
        </i>
    </div>
    <div tooltips tooltip-template="source: {{address.info.properties.source}}">
        <div class="header" ng-bind-html="address.info.processed.primary">
        </div>
        <div ng-bind-html="address.info.processed.secondary">
        </div>
    </div>
    <div class="list">
        <span ng-bind-html="address.position">
        </span>
        <span tooltips tooltip-template="{{('COPYYX' | translate)}}" tooltip-side="top">
            <button class="ors-button" ngclipboard data-clipboard-text="{{address.latLng}}">
                <i class="fa fa-copy"></i>
            </button>
        </span>
        <span tooltips tooltip-template="{{('COPYXY' | translate)}}" tooltip-side="top">
            <button class="ors-button" ngclipboard data-clipboard-text="{{address.lngLat}}">
                <i class="fa fa-copy fa-mirror"></i>
            </button>
        </span>
    </div>
</div>