<div class="cm-here-popup" >
<span ng-if="heremsg.name">Name : {{heremsg.name}}</span>
<span ng-if="heremsg.pos">Position : {{heremsg.pos}}</span>
<span ng-if="heremsg.street">Street : {{heremsg.street}}</span>
<span ng-if="heremsg.state">State : {{heremsg.state}}</span>
<span ng-if="heremsg.county">Country : {{heremsg.country}}</span>
<span ng-if="heremsg.zip">Postal Code : {{heremsg.zip}}</span>
<!-- <span ng-if="heremsg.dist">Distance : {{heremsg.dist}}</span>
<span ng-if="heremsg.score">Score : {{heremsg.score}}</span> -->
</div>