<div class="ors-route-controls">
    <button  class="ors-controls-button flleft" ng-click="$ctrl.add()" ng-show="$ctrl.showAdd">
        <i class="fa fa-plus" tooltips tooltip-template="{{('ADD' | translate)}}" tooltip-side="top"  tooltip-append-to-body="true">
        </i>
    </button>
    <button  class="ors-controls-button flleft" ng-click="$ctrl.reset()">
        <i class="fa fa-remove" tooltips tooltip-template="{{('RESET' | translate)}}" tooltip-side="top" tooltip-append-to-body="true">
        </i>
    </button>
    <button  class="ors-controls-button flleft" ng-click="$ctrl.reversing()">
        <i class="fa fa-retweet" tooltips tooltip-template="{{('REVERSE' | translate)}}" tooltip-side="top" tooltip-append-to-body="true">
        </i>
    </button>
    <button  class="ors-controls-button flleft" ng-click="$ctrl.zoom()">
        <i class="fa fa-expand" tooltips tooltip-template="{{('EXPAND' | translate)}}" tooltip-side="top" tooltip-append-to-body="true">
        </i>
    </button>
    <button  class="ors-controls-button flleft" data-ng-click="$ctrl.showImport = !$ctrl.showImport">
        <i class="fa fa-upload" tooltips tooltip-template="{{('UPLOAD' | translate)}}" tooltip-side="top" tooltip-append-to-body="true">
        </i>
    </button>
    <button  class="ors-controls-button flleft" ng-click="$ctrl.callOptions()">
        <i class="fa fa-sliders" tooltips tooltip-template="{{('OPTIONS' | translate)}}" tooltip-side="top" tooltip-append-to-body="true">
        </i>
    </button>
</div>
<div class="ors-routing-options container" ng-show="$ctrl.showOptions">
    <ors-options active-profile="$ctrl.activeProfile" active-subgroup="$ctrl.activeSubgroup" show-options="$ctrl.showOptions"> </ors-options>
</div>
<ors-modal data-ng-show="$ctrl.showImport" show="$ctrl.showImport">
    <ors-import-route-controls></ors-import-route-controls>
</ors-modal>