<div class="ui fluid left icon input ors-input">
    <i class="search icon"></i>
    <input ng-change="$ctrl.addressChanged()" ng-click="$ctrl.checkForAddresses()" ng-model="$ctrl.waypoint._address" ng-model-options="{debounce: 1000}" placeholder={{$ctrl.getPlaceholder()}} type="text">
</div>
<div class="ors-addresses" ng-show="$ctrl.showAddresses">
    <div class="ui divided list">
        <div class="item" ng-repeat="address in $ctrl.addresses">
            <div ng-bind-html="address.shortAddress" ng-click="$ctrl.select(address)">
            </div>
        </div>
    </div>
</div>






