<ors-profiles-options active-profile="$ctrl.activeProfile" active-subgroup="$ctrl.activeSubgroup" class="ors-profiles-options" ng-show="!$ctrl.showGeocodingPanel" ors-params="$ctrl.routeParams" profiles="$ctrl.profiles" show-options="$ctrl.showOptions">
</ors-profiles-options>
<div class="ors-analysis-settings" ng-show="!$ctrl.showGeocodingPanel">
    <ors-aa-waypoints active-profile="$ctrl.activeProfile" active-subgroup="$ctrl.activeSubgroup" current-options="$ctrl.currentOptions" ors-map="$ctrl.parent.orsMap" ors-params="$ctrl.routeParams" show-geocoding-panel="$ctrl.showGeocodingPanel" show-options="$ctrl.showOptions">
    </ors-aa-waypoints>
</div>
<div class="ors-routing-inner" ng-show="!$ctrl.showGeocodingPanel">
    <ors-aa-queries>
    </ors-aa-queries>
</div>
<ors-addresses ng-if="$ctrl.showGeocodingPanel" show-geocoding-panel="$ctrl.showGeocodingPanel">
</ors-addresses>
