<div class="ors-route-segments">
    <div class="ors-segment-card" data-ng-repeat="segment in route.segments">
        <div class="info" ng-class="{highlight: hover}" ng-click="$ctrl.zoomTo($index);" ng-mouseenter="$ctrl.EmphSegment($index); hover=true;" ng-mouseleave="$ctrl.DeEmph(); hover=false;">
            <div class="heading">
                <div class="icon pointer" ng-click="steps = !steps; $event.stopPropagation();">
                    <i ng-class="$ctrl.getClass(steps)">
                    </i>
                </div>
                <div class="icon">
                    <i class="fa fa-lg fa-home" ng-if="$index == 0">
                    </i>
                    <i class="fa fa-lg fa-map-marker" ng-if="$index > 0">
                    </i>
                </div>
                <div class="waypoint">
                    <h4 class="pointer" ng-bind-html="$ctrl.waypoints[$index]._address">
                    </h4>
                </div>
            </div>
            <div class="summary">
                <div class="summary-item">
                    <span>
                        <i class="fa fa-clock-o">
                        </i>
                    </span>
                    <span ng-bind-html="(segment.duration | duration)">
                    </span>
                </div>
                <div class="summary-item">
                    <span>
                        <i class="fa fa-arrows-h">
                        </i>
                    </span>
                    <span ng-bind-html="(segment.distance | distance)">
                    </span>
                </div>
                <div class="summary-item" ng-if="segment.ascent">
                    <span>
                        <i class="fa fa-long-arrow-up">
                        </i>
                    </span>
                    <span ng-bind-html="(segment.ascent | distance)">
                    </span>
                </div>
                <div class="summary-item" ng-if="segment.descent">
                    <span>
                        <i class="fa fa-long-arrow-down">
                        </i>
                    </span>
                    <span ng-bind-html="(segment.descent | distance)">
                    </span>
                </div>
            </div>
        </div>
        <div class="steps">
            <div class="collapsable" ng-class="{ showMe: steps }">
                <div class="step" data-ng-repeat="step in segment.steps" ng-class="{highlight: hoverStep}" ng-click="$ctrl.zoomToStep(step.way_points);" ng-mouseout="$ctrl.DeEmph(); hoverStep=false;" ng-mouseover="$ctrl.EmphStep(step.way_points); hoverStep=true;">
                    <div class="header">
                        <div class="icon">
                            <i ng-class="$ctrl.getIcon(step.type)">
                            </i>
                        </div>
                        <div class="text" ng-bind-html="step.instruction">
                        </div>
                    </div>
                    <div class="summary">
                        <span ng-bind-html="(step.distance | distance)">
                        </span>
                        <span class="pipe">
                            |
                        </span>
                        <span ng-bind-html="(step.duration | duration)">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ors-segment-card" ng-show="route.segments">
        <div class="info" ng-class="{highlight: hover}" ng-click="$ctrl.zoomTo(route.segments.length, true);" ng-mouseenter="hover=true;" ng-mouseleave="hover=false;">
            <div class="heading">
                <div class="icon">
                    <i class="fa fa-lg fa-flag">
                    </i>
                </div>
                <div class="waypoint">
                    <h4 ng-bind-html="$ctrl.waypoints[$ctrl.waypoints.length-1]._address">
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>