<div class="ors-route-card">
    <div class="left" ng-switch="$ctrl.data.metadata.query.profile">
        <div ng-switch-when="driving-car">
            <i class="fa fa-lg fa-car">
            </i>
        </div>
        <div ng-switch-when="cycling-regular|cycling-road|cycling-mountain|cycling-electric" ng-switch-when-separator="|">
            <i class="fa fa-lg fa-bicycle">
            </i>
        </div>
        <div ng-switch-when="driving-hgv">
            <i class="fa fa-lg fa-bus">
            </i>
        </div>
        <div ng-switch-when="wheelchair">
            <i class="fa fa-lg fa-wheelchair-alt">
            </i>
        </div>
        <div ng-switch-when="foot-walking|foot-hiking" ng-switch-when-separator="|">
            <i class="fa fa-lg fa-male">
            </i>
        </div>
    </div>
    <div class="right">
        <div>
            <div class="summary-item" ng-if="route.properties.summary.duration" tooltip-side="top" tooltip-template="{{('DURATION' | translate)}}" tooltips="">
                <span>
                    <i class="fa fa-clock-o">
                    </i>
                </span>
                <span ng-bind-html="(route.properties.summary.duration | duration)">
                </span>
                <span ng-if="route.properties.summary.durationDelta"
                      ng-bind-html="' ('+ (route.properties.summary.durationDelta > 0 ? '+ ' : '- ')  + (route.properties.summary.durationDelta | duration) +')'"></span>
            </div>
            <div class="summary-item"
                 ng-if="route.properties.summary.distance"
                 tooltip-side="top" tooltip-template="{{('DISTANCE' | translate)}}"
                 tooltips="">
                <span>
                    <i class="fa fa-arrows-h">
                    </i>
                </span>
                <span ng-bind-html="(route.properties.summary.distance | distance)">
                </span>
                <span ng-if="route.properties.summary.distanceDelta"
                      ng-bind-html="' ('+ (route.properties.summary.distanceDelta > 0 ? '+' : '')  + (route.properties.summary.distanceDelta | distance) +')'"></span>
            </div>
            <div class="summary-item" ng-if="route.properties.summary.distance_actual"
                 tooltip-side="top"
                 tooltip-template="{{('ACTUALDISTANCE' | translate)}}"
                 tooltips="">
                <span>
                    <i class="fa fa-ellipsis-h">
                    </i>
                </span>
                <span ng-bind-html="(route.properties.summary.distance_actual | distance)">
                </span>
            </div>
        </div>
        <div>
            <div class="summary-item" ng-if="route.properties.ascent" tooltip-side="top" tooltip-template="{{('ASCENT' | translate)}}" tooltips="">
                <span>
                    <i class="fa fa-long-arrow-up">
                    </i>
                </span>
                <span ng-bind-html="(route.properties.ascent | distance)">
                </span>
            </div>
            <div class="summary-item" ng-if="route.properties.descent" tooltip-side="top" tooltip-template="{{('DESCENT' | translate)}}" tooltips="">
                <span>
                    <i class="fa fa-long-arrow-down">
                    </i>
                </span>
                <span ng-bind-html="(route.properties.descent | distance)">
                </span>
            </div>
            <div class="summary-item" ng-if="route.properties.summary.consumption" tooltip-side="top" tooltip-template="{{('CONSUMPTION' | translate)}}" tooltips="">
                <span>
                    <i class="fa fa-tint">
                    </i>
                </span>
                <span ng-bind-html="(route.properties.summary.consumption | round: ' l')">
                </span>
            </div>
        </div>
        <div>
            <div class="summary-item" ng-if="route.properties.summary.emission" tooltip-side="top" tooltip-template="{{('EMISSION' | translate)}}" tooltips="">
                <span>
                    <i class="fa fa-cloud-upload">
                    </i>
                </span>
                <span ng-bind-html="(route.properties.summary.emission | round: ' kg CO<sub>2</sub>')">
                </span>
            </div>
            <div class="summary-item" ng-if="route.properties.summary.fuelCost" tooltip-side="top" tooltip-template="{{('FUEL_COSTS' | translate)}}" tooltips="">
                <span>
                    <i class="fa fa-eur">
                    </i>
                </span>
                <span ng-bind-html="(route.properties.summary.fuelCost | round)">
                </span>
            </div>
        </div>
        <button class="summary-select"
                ng-if="$index === $ctrl.currentRouteIndex"
                data-ng-click="$ctrl.setIdx($index); $ctrl.showInstructions();"
                ng-bind-html="('DETAILS' | translate)"
                ng-show="!$ctrl.shouldDisplayRouteDetails">
            >
        </button>
    </div>
    <div class="right-2">
        <button class="ors-controls-button flright" data-ng-click="$ctrl.showShare = !$ctrl.showShare" tooltip-side="left" tooltip-template="{{('SHARE_LINK' | translate)}}" tooltips="">
            <i class="fa fa-share-alt">
            </i>
        </button>
        <button class="ors-controls-button flright" data-ng-click="$ctrl.showExport = !$ctrl.showExport" tooltip-side="left" tooltip-template="{{('EXPORT' | translate)}}" tooltips="">
            <i class="fa fa-download">
            </i>
        </button>
    </div>
</div>
