<div class="ors-route-card">
    <div class="left" ng-switch="$ctrl.data.info.query.profile">
        <div ng-switch-when="driving-car">
            <i class="fa fa-lg fa-car">
            </i>
        </div>
        <div ng-switch-when="cycling-regular|cycling-road|cycling-safe|cycling-mountain|cycling-tour" ng-switch-when-separator="|">
            <i class="fa fa-lg fa-bicycle">
            </i>
        </div>
        <div ng-switch-when="driving-hgv">
            <i class="fa fa-lg fa-bus">
            </i>
        </div>
        <div ng-switch-when="wheelchair">
            <i class="fa fa-lg fa-wheelchair">
            </i>
        </div>
        <div ng-switch-when="foot-walking|foot-hiking" ng-switch-when-separator="|">
            <i class="fa fa-lg fa-male">
            </i>
        </div>
    </div>
    <div class="right">
        <div class="summary-item" ng-if="route.summary.duration" tooltip-side="top" tooltip-template="{{('DURATION' | translate)}}" tooltips="">
            <i class="fa fa-clock-o">
            </i>
            <span ng-bind-html="(route.summary.duration | duration)">
            </span>
        </div>
        <div class="summary-item" ng-if="route.summary.distance" tooltip-side="top" tooltip-template="{{('DISTANCE' | translate)}}" tooltips="">
            <i class="fa fa-arrows-h">
            </i>
            <span ng-bind-html="(route.summary.distance | distance)">
            </span>
        </div>
        <div class="summary-item" ng-if="route.summary.distance_actual" tooltip-side="top" tooltip-template="{{('ACTUALDISTANCE' | translate)}}" tooltips="">
            <i class="fa fa-ellipsis-h">
            </i>
            <span ng-bind-html="(route.summary.distance_actual | distance)">
            </span>
        </div>
        <div class="summary-item" ng-if="route.summary.ascent" tooltip-side="top" tooltip-template="{{('ASCENT' | translate)}}" tooltips="">
            <i class="fa fa-long-arrow-up">
            </i>
            <span ng-bind-html="(route.summary.ascent | distance)">
            </span>
        </div>
        <div class="summary-item" ng-if="route.summary.descent" tooltip-side="top" tooltip-template="{{('DESCENT' | translate)}}" tooltips="">
            <i class="fa fa-long-arrow-down">
            </i>
            <span ng-bind-html="(route.summary.descent | distance)">
            </span>
        </div>
        <button class="summary-select" data-ng-click="$ctrl.setIdx($index); $ctrl.showInstructions();" ng-bind-html="('DETAILS' | translate)" ng-show="!$ctrl.shouldDisplayRouteDetails">
            >
        </button>
    </div>
</div>
