<header>
    <h1 ng-bind-html="('SETTINGS' | translate)">
    </h1>
</header>
<section>
    <h2 ng-bind-html="('UNITS' | translate)">
    </h2>
    <div class="field ors-inline">
        <div class="ui radio checkbox">
            <input name="orsUnits" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.units" ng-value="$ctrl.optionList.units.km" type="radio">
                <label ng-bind-html="('KILOMETERS' | translate)">
                </label>
            </input>
        </div>
    </div>
    <div class="field ors-inline">
        <div class="ui radio checkbox">
            <input name="orsUnits" ng-change="$ctrl.changeOptions()" ng-model="$ctrl.currentOptions.units" ng-value="$ctrl.optionList.units.mi" type="radio">
                <label ng-bind-html="('MILES' | translate)">
                </label>
            </input>
        </div>
    </div>
</section>
<div class="ui divider">
</div>
<section>
    <h2 ng-bind-html="('LANGUAGE' | translate)">
    </h2>
    <label ng-bind-html="('CHOOSELANG' | translate)">
    </label>
    <select data-ng-model="$ctrl.currentOptions.language" data-ng-options="(language) for language in $ctrl.optionList.languages.all" name="language" ng-change="$ctrl.changeOptions(true)">
    </select>
</section>
<div class="ui divider">
</div>
<section>
    <h2 ng-bind-html="('LANGROUTING' | translate)">
    </h2>
    <label ng-bind-html="('CHOOSELANG' | translate)">
    </label>
    <select data-ng-model="$ctrl.currentOptions.routinglang" data-ng-options="(language) for language in $ctrl.optionList.routinglanguages.all" name="routinglanguage" ng-change="$ctrl.changeOptions()">
    </select>
</section>
<section>
    <h2 ng-bind-html="('LOCALE_MAP_SETTINGS' | translate)">
    </h2>
    <div class="ui checkbox">
        <input data-ng-model="$ctrl.currentOptions.randomIsochronesColors" id="isochronescolors" name="orsRouteQuietRoutingInput" ng-change="$ctrl.changeOptions()" type="checkbox">
            <label for="isochronescolors" ng-bind-html="('LOCALE_ISOCHRONE_RANDOMIZE_COLORS' | translate)">
            </label>
        </input>
    </div>
</section>